// !compileOnSave
// compileOnSave        : false
// main                 : ../style.scss


/* CTAs -------------------------- */

.main-cta {
  width                 : $main-cta-width;
  height                : $main-cta-height;
  display               : inline-flex;
  flex-direction        : row;
  padding-top           : $vertical-margin-spacing;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(main-cta, $cta-svg-color);
  @include screen1000 {
    height              : calc(#{$main-cta-height} - 16px);
  };
  @include screen900 {
    height              : calc(#{$main-cta-height} - 30px);
  };
  @media screen and (max-width: $wrapper-width-900) {
    background-color    : $cta-bg-color;
    background-image    : none;
  }

  .cta-pitch {
    @include screen1000 {
      font-size         : calc(#{$cta-text-size}        - 30%);
      margin-top        : calc(#{$cta-pitch-margin-top} -  1.2%);
    };
    @include screen900 {
      font-size         : calc(#{$cta-text-size}        - 30%);
      margin-top        : calc(#{$cta-pitch-margin-top} -  2.2%);
    };
  }
}

.big-cta {
  display               : inline-flex;
  flex-direction        : row;
  width                 : $big-cta-width;
  height                : $big-cta-height;
  padding-top           : $vertical-margin-spacing;
  margin-top            : $vertical-margin-spacing;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(main-cta, $cta-svg-color);
  @include screen1000 {
    height              : calc(#{$big-cta-height} - 16px);
  };
  @include screen900 {
    height              : calc(#{$big-cta-height} - 30px);
  };
  @media screen and (max-width: $wrapper-width-900) {
    background-color    : $cta-bg-color;
    background-image    : none;
  }
  -webkit-transform     : rotate(180deg);
      -ms-transform     : rotate(180deg);
          transform     : rotate(180deg);

  .cta-pitch {
    position            : absolute;
    margin-top          : $big-cta-pitch-margin-top;
    margin-left         : $big-cta-pitch-margin-left;
    @include screen1000 {
      margin-top        : calc(#{$big-cta-pitch-margin-top} -   0.6%);
      margin-left       : calc(#{$big-cta-pitch-margin-left} -  6%);
      font-size         : calc(#{$cta-text-size}             - 10%);
    };
    @include screen900 {
      margin-top        : calc(#{$big-cta-pitch-margin-top} -   1.3%);
      margin-left       : calc(#{$big-cta-pitch-margin-left} -  6%);
      font-size         : calc(#{$cta-text-size}             - 10%);
    };
    -webkit-transform   : rotate(180deg);
        -ms-transform   : rotate(180deg);
            transform   : rotate(180deg);
  }
}

.cta-pitch {
  color                 : $cta-text-color;
  font-weight           : $cta-pitch-font-weight;
  font-size             : $cta-text-size;
  margin-left           : $cta-pitch-margin-left;
  margin-top            : $cta-pitch-margin-top;
  text-align            : center;
  @include screen1200 {
    margin-top        : calc(#{$cta-pitch-margin-top} -  1%);
  };

  .cta-pitch-title {
    font-size           : $cta-pitch-title-size;
    text-transform      : $cta-pitch-title-text-transform;
  }
}

.entry-cta-wrap {
  display               : inline-flex;
  flex-direction        : row;
  width                 : $entry-cta-wrap-width;
  height                : $entry-cta-wrap-height;
  margin-top            : $vertical-margin-spacing;
  @include screen900 {
    height              : calc(#{$entry-cta-wrap-height} - 10px);
  };

  p {
    font-size           : $cta-text-size;
    color               : $cta-text-color;
    line-height         : $fixed-line-height;
    text-align          : $entry-cta-p-text-align;
    @include screen1200 {
      font-size         : calc(#{$cta-text-size} - 20%);
    };
    @include screen1000 {
      font-size         : calc(#{$cta-text-size} - 40%);
    };
    @include screen900 {
      font-size         : calc(#{$cta-text-size} - 50%);
    };

  }

  .class-files-cta {
    height              : $entry-cta-height;
    width               : $entry-cta-width;
    margin-top          : $class-files-cta-margin-top;
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : 100% 100%;
    background-image    : svgParams(entry-cta, $cta-svg-color);
    @include screen900 {
      margin-top        : calc(#{$class-files-cta-margin-top} - 4px);
    };
    @media screen and (max-width: $wrapper-width-900) {
      background-color    : $cta-bg-color;
      background-image    : none;
    }
    -webkit-transform   : translateY(-50%);
        -ms-transform   : translateY(-50%);
            transform   : translateY(-50%);

    p {
      padding-top       : $class-files-cta-p-padding-top;
      @include screen1200 {
        padding-top     : calc(#{$class-files-cta-p-padding-top} + 1px);
      };
      @include screen1000 {
        padding-top     : calc(#{$class-files-cta-p-padding-top} + 5px);
      };
      @include screen900 {
        padding-top     : calc(#{$class-files-cta-p-padding-top} + 1px);
      };
    }
  }

  .completed-files-cta {
    height              : $entry-cta-height;
    width               : $entry-cta-width;
    margin-left         : $completed-files-cta-margin-left;
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : 100% 100%;
    background-image    : svgParams(entry-cta, $cta-svg-color);
    @media screen and (max-width: $wrapper-width-900) {
      background-color    : $cta-bg-color;
      background-image    : none;
    }
    -webkit-transform   : rotate(180deg);
        -ms-transform   : rotate(180deg);
            transform   : rotate(180deg);

    p {
      margin-top        : $completed-files-cta-p-margin-top;
      -webkit-transform : rotate(180deg);
          -ms-transform : rotate(180deg);
              transform : rotate(180deg);
      @include screen1200 {
        margin-top      : calc(#{$completed-files-cta-p-margin-top} + 2px);
      };
      @include screen1000 {
        margin-top      : calc(#{$completed-files-cta-p-margin-top} + 1px);
      };
      @include screen900 {
        margin-top      : calc(#{$completed-files-cta-p-margin-top} - 3px);
      };
    }
  }
}

.signup-button-left {
  height                : $signup-button-height;
  margin-left           : $signup-button-left-margin-left;
  margin-top            : $signup-button-left-margin-top;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(main-button-0, $cta-svg-color, $svg-secondary-color, $svg-border-color);
  @include screen1200 {
    margin-top          : calc(#{$signup-button-left-margin-top} + 1%);
  };
  @include screen1000 {
    height              : calc(#{$signup-button-height}          - 14px);
  };
  @include screen900 {
    height              : calc(#{$signup-button-height}          - 20px);
    margin-top          : calc(#{$signup-button-left-margin-top} - 1%);
  };
  @media screen and (max-width: $wrapper-width-900) {
    background-color    : $cta-bg-color;
    background-image    : none;
  }
  -webkit-transform     : translateY(-50%);
      -ms-transform     : translateY(-50%);
          transform     : translateY(-50%);

  p {
    font-size           : $cta-text-size;
    font-weight         : $cta-pitch-font-weight;
    margin-top          : $signup-button-p-margin-top;
    line-height         : $fixed-line-height;
    @include screen900 {
      font-size         : calc(#{$cta-text-size}              - 40%);
      margin-top        : calc(#{$signup-button-p-margin-top} +  5%);
    };
  }

  a {
    padding-left        : $signup-button-a-padding;
    padding-right       : $signup-button-a-padding;
    @include screen1000 {
      padding-left      : calc(#{$signup-button-a-padding} - 10px);
      padding-right     : calc(#{$signup-button-a-padding} - 10px);
    };
  }

  &:focus,
  &:hover,
  &:active {
    @include signup-button-hover;
  }

  &:focus-within {
    @include signup-button-hover;
  }
}

.signup-button-right {
  height                : $signup-button-height;
  margin-left           : $signup-button-right-margin-left;
  margin-top            : $signup-button-right-margin-top;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(main-button-0, $cta-svg-color, $svg-secondary-color, $svg-border-color);
  @include screen1000 {
    margin-left         : calc(#{$signup-button-right-margin-left} -  5%);
    margin-top          : calc(#{$signup-button-right-margin-top}  -  1.7%);
  };
  @include screen900 {
    height              : calc(#{$signup-button-height}            - 15px);
    margin-left         : calc(#{$signup-button-right-margin-left} -  7%);
    margin-top          : calc(#{$signup-button-right-margin-top}  -  2.2%);
  };
  @media screen and (max-width: $wrapper-width-900) {
    background-color    : $cta-bg-color;
    background-image    : none;
  }

  p {
    font-size           : $cta-text-size;
    font-weight         : $cta-pitch-font-weight;
    margin-top          : $signup-button-p-margin-top;
    line-height         : $fixed-line-height;
    @include screen1000 {
      margin-top          : calc(#{$signup-button-p-margin-top} + 2.3%);
    };
    @include screen900 {
      margin-top          : calc(#{$signup-button-p-margin-top} - 0.7%);
    };
    -webkit-transform   : rotate(180deg);
        -ms-transform   : rotate(180deg);
            transform   : rotate(180deg);
  }

  a {
    padding-left        : $signup-button-a-padding;
    padding-right       : $signup-button-a-padding;
  }

  &:focus,
  &:hover,
  &:active {
    @include signup-button-hover;
  }

  &:focus-within {
    @include signup-button-hover;
  }
}

.subscribe-cta-wrapper {
  width                 : $subscribe-cta-wrapper-width;
  height                : $subscribe-cta-wrapper-height;
  margin-top            : $vertical-margin-spacing;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(subscribe-cta, $subscribe-svg-color);
  @include screen1000 {
    width               : calc(#{$subscribe-cta-wrapper-width} + 10%);
  };
  @include screen900 {
    width               : calc(#{$subscribe-cta-wrapper-width} + 10%);
  };
  @media screen and (max-width: $wrapper-width-900) {
    background-color    : $cta-bg-color;
    background-image    : none;
  }

  .cta-pitch {
    font-size           : $subscribe-cta-pitch-text-size;
    padding             : $subscribe-cta-pitch-text-padding;
    text-align          : left;
    @include screen1200 {
      font-size         : calc(#{$subscribe-cta-pitch-text-size} - 5%);
    };
  }

  input {
    width               : $subscribe-cta-input-width;
    font-size           : $subscribe-cta-input-text-size;
    padding             : $subscribe-cta-input-padding;
    @include screen1200 {
      width             : calc(#{$subscribe-cta-input-width}     -  5%);
      font-size         : calc(#{$subscribe-cta-input-text-size} - 10%);
    };
  }
}

.subscribe-button-right {
  float                 : $subscribe-button-right-float;
  margin-top            : $subscribe-button-right-margin-top;
  margin-left           : $subscribe-button-right-margin-left;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(main-button-0, $cta-svg-color, $svg-secondary-color, $svg-border-color);
  @include screen900 {
    margin-left         : calc(#{$subscribe-button-right-margin-left} - 2%);
  };
  @media screen and (max-width: $wrapper-width-900) {
    background-color    : $cta-bg-color;
    background-image    : none;
  }
  -webkit-transform     : rotate(180deg);
      -ms-transform     : rotate(180deg);
          transform     : rotate(180deg);

  div {
    -webkit-transform   : rotate(180deg);
        -ms-transform   : rotate(180deg);
            transform   : rotate(180deg);
  }

  button {
    display             : block;
    width               : $subscribe-button-width;
    height              : $subscribe-button-height;
    font-size           : $cta-text-size;
    font-weight         : $cta-pitch-font-weight;
    color               : $text-link-color;
    padding             : $subscribe-button-padding;
    border              : none;
    background-color    : transparent;
    @include screen1000 {
      font-size         : calc(#{$cta-text-size}           - 25%);
      height            : calc(#{$subscribe-button-height} - 10px);
    };
    @include screen900 {
      font-size         : calc(#{$cta-text-size}           - 25%);
      height            : calc(#{$subscribe-button-height} - 10px);
    };

    &:focus,
    &:hover,
    &:active {
      @include button-hover;
    }

    &:focus-within {
      @include button-hover;
    }
  }

  &:focus,
  &:hover,
  &:active {
    @include subscribe-button-hover;
  }

  &:focus-within {
    @include subscribe-button-hover;
  }
}

.affiliate-cta-wrapper {
  position              : absolute;
  height                : $affiliate-cta-wrapper-height;
  margin-top            : $affiliate-cta-wrapper-margin-top;
  margin-left           : $affiliate-cta-wrapper-margin-left;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(main-button-0, $cta-svg-color, $svg-secondary-color, $svg-border-color);
  @include screen1000 {
    margin-top          : calc(#{$affiliate-cta-wrapper-margin-top} - 3%);
  };
  @media screen and (max-width: $wrapper-width-900) {
    background-color    : $cta-bg-color;
    background-image    : none;
  }
  -webkit-transform     : rotate(90deg);
      -ms-transform     : rotate(90deg);
          transform     : rotate(90deg);

  p {
    font-size           : $cta-text-size;
    font-weight         : $cta-pitch-font-weight;
    margin              : $affiliate-cta-p-margin;
    line-height         : $fixed-line-height;
    -webkit-transform   : rotate(-90deg);
        -ms-transform   : rotate(-90deg);
            transform   : rotate(-90deg);
  }

  a {
    padding             : $affiliate-cta-a-margin;
  }

  &:focus,
  &:hover,
  &:active {
    @include signup-button-hover;
  }

  &:focus-within {
    @include signup-button-hover;
  }
}
