// !compileOnSave
// compileOnSave             : false
// main                      : ../style.scss


/* Footer ------------------------ */

footer {
  height                     : $footer-height;
  background-color           : $footer-bg-color;
  margin-top                 : $vertical-margin-spacing;

  .footer-wrap {
    display                  : inline-flex;
    flex-direction           : row;
    width                    : $footer-wrap-width;
    text-align               : center;

    .footer-left-col {
      width                  : $footer-column-width;
    }

    .footer-right-col {
      width                  : $footer-column-width;
    }

    .copyright-notice,
    .osi-notice {
      position               : absolute;
      margin-top             : $footer-copyright-margin-top;
      color                  : $footer-copyright-color;
      font-style             : $footer-copyright-text-style;
      font-size              : $footer-copyright-text-size;
    }

    .copyright-notice {
      left                   : 0;
    }

    .osi-notice {
      right                  : 0;
    }
  }
}

.social-menu-wrapper {
  width                      : $social-menu-wrapper-width;
  margin-top                 : $vertical-margin-spacing;

  ul {
    list-style               : none;
    @include flexed;

    li {
      height                 : $social-menu-button-height;
      width                  : $social-menu-button-width;
      cursor                 : pointer;

      &.button-up {
        background-repeat    : no-repeat;
        background-position  : center;
        background-size      : 100% 100%;
        background-image     : svgParams(main-button-90, $cta-svg-color, $svg-secondary-color, $svg-border-color);

        &:focus,
        &:hover,
        &:active {
          @include social-menu-button-up-hover;
        }

        &:focus-within {
          @include social-menu-button-up-hover;
        }
      }

      &.button-down {
        background-repeat    : no-repeat;
        background-position  : center;
        background-size      : 100% 100%;
        background-image     : svgParams(main-button-270, $cta-svg-color, $svg-secondary-color, $svg-border-color);

        &:focus,
        &:hover,
        &:active {
          @include social-menu-button-down-hover;
        }

        &:focus-within {
          @include social-menu-button-down-hover;
        }
      }
    }

    .fab {
      font-size              : $social-menu-icon-size;
      padding                : $social-menu-icon-padding;

      &:focus,
      &:hover,
      &:active {
        @include social-menu-hover;
      }

      &:focus-within {
        @include social-menu-hover;
      }
    }
  }
}
