// !compileOnSave
// compileOnSave             : false
// main                      : ../style.scss


/* Footer ------------------------ */

footer {
  width                      : $footer-width;
  height                     : $footer-height;
  background-color           : $footer-bg-color;
  margin-top                 : -$footer-height;
  clear                      : both;
  @include screen1200 {
    margin-top               : calc(#{-$footer-height} + 60px);
  };
  @include screen1000 {
    height                   : calc(#{$footer-height}  +  5px);
  };
  @include screen900 {
    height                   : calc(#{$footer-height}  +  5px);
  };

  .footer-wrap {
    display                  : inline-flex;
    flex-direction           : row;
    width                    : $footer-wrap-width;
    text-align               : center;

    .footer-left-col {
      width                  : $footer-column-width;

      .copyright-notice {
        position             : absolute;
        text-align           : left;
        bottom               : 0;

      }
    }

    .footer-right-col {
      width                  : $footer-column-width;

      .osi-notice {
        padding-top          : 20px;
        text-align           : right;
        @include screen1000 {
          margin-bottom      : -4px;
        };
        @include screen900 {
          margin-bottom      : -4px;
        };
      }
    }

    .copyright-notice,
    .osi-notice {
      color                  : $footer-legal-color;
      font-style             : $footer-legal-text-style;
      font-size              : $footer-legal-text-size;
    }
  }
}

.social-menu-wrapper {
  width                      : $social-menu-wrapper-width;
  margin-top                 : $vertical-margin-spacing;
  @include screen1000 {
    width                    : calc(#{$social-menu-wrapper-width} + 10%);
  };
  @include screen900 {
    width                    : calc(#{$social-menu-wrapper-width} + 10%);
  };

  ul {
    list-style               : none;
    @include flexed;

    li {
      height                 : $social-menu-button-height;
      width                  : $social-menu-button-width;
      cursor                 : pointer;
      @include screen900 {
        height               : calc(#{$social-menu-button-height} - 3px);
      };

      &.button-up {
        background-repeat    : no-repeat;
        background-position  : center;
        background-size      : 100% 100%;
        background-image     : svgParams(main-button-90, $cta-svg-color, $svg-secondary-color, $svg-border-color);
        @media screen and (max-width: $wrapper-width-900) {
          background-color    : $cta-bg-color;
          background-image    : none;
        }

        &:focus,
        &:hover,
        &:active {
          @include social-menu-button-up-hover;
        }

        &:focus-within {
          @include social-menu-button-up-hover;
        }
      }

      &.button-down {
        background-repeat    : no-repeat;
        background-position  : center;
        background-size      : 100% 100%;
        background-image     : svgParams(main-button-270, $cta-svg-color, $svg-secondary-color, $svg-border-color);
        @media screen and (max-width: $wrapper-width-900) {
          background-color    : $cta-bg-color;
          background-image    : none;
        }

        &:focus,
        &:hover,
        &:active {
          @include social-menu-button-down-hover;
        }

        &:focus-within {
          @include social-menu-button-down-hover;
        }
      }
    }

    .fab {
      font-size              : $social-menu-icon-size;
      padding                : $social-menu-icon-padding;

      &:focus,
      &:hover,
      &:active {
        @include social-menu-hover;
      }

      &:focus-within {
        @include social-menu-hover;
      }
    }
  }
}
