// !compileOnSave
// compileOnSave                         : false
// main                                  : ../style.scss


/* Header ------------------------ */
header {
  &.top-wrap {
    position                             : relative;
    background-color                     : $header-bg-color;
    height                               : $header-height;
    z-index                              : 999;

    #responsive-menu-trigger, #close-menu {
      display: none;
    }

    .main-header {
      display                            : inline-flex;
      flex-direction                     : row;
      width                              : $wrapper-width;

      .logo {
        padding                          : $logo-padding;
        width                            : $logo-width;

        img#byolLogo {
          width: 73%; // Test
        }
      }

      ul#menu {
        list-style                       : none;
        display                          : inline-flex;
        flex-direction                   : row;
        text-align                       : center;
        text-transform                   : $menu-text-transform;
        width                            : 66%;

       li {
         width                           : 12.5%;

         &.button-down {
            margin                       : 0 16px;
            height                       : 60px;
            -webkit-transform            : rotateX(180deg);
                -ms-transform            : rotateX(180deg);
                    transform            : rotateX(180deg);

            &:before {
              content                    : '';
              position                   : absolute;
              width                      : $menu-li-before-width;
              height                     : $menu-li-before-height;
              left                       : $menu-li-before-left;
              border-left                : $menu-li-before-border;
              -webkit-transform          : rotateX(-90deg) perspective(180px) rotateX(90deg);
                  -ms-transform          : rotateX(-90deg) perspective(180px) rotateX(90deg);
                      transform          : rotateX(-90deg) perspective(180px) rotateX(90deg);
              -webkit-transform-origin   : center top;
                  -ms-transform-origin   : center top;
                      transform-origin   : center top;
           }

            div {
              line-height                : $menu-li-button-down-div-line-height;
              -webkit-transform          : rotateX(180deg);
                  -ms-transform          : rotateX(180deg);
                      transform          : rotateX(180deg);

              a {
                outline                  : none;
                padding                  : 22px 15%;

                &:hover, &:active, &:focus {
                 text-shadow             : $button-glow;
                 text-decoration         : none;
                 font-style              : oblique;
                 -webkit-transition      : $button-transition;
                         transition      : $button-transition;
                 -webkit-transform       : skewX(-10deg);
                     -ms-transform       : skewX(-10deg);
                         transform       : skewX(-10deg);

                  .fas {
                    -webkit-transform    : skewX(-10deg);
                        -ms-transform    : skewX(-10deg);
                            transform    : skewX(-10deg);
                  }
                }
              }
            }
          }

          &.button-up {
            height                       : $menu-li-button-up-height;
            -webkit-transform            : rotateX(180deg);
                -ms-transform            : rotateX(180deg);
                    transform            : rotateX(180deg);

            &:before {
              content                    : '';
              position                   : absolute;
              width                      : $menu-li-before-width;
              height                     : $menu-li-before-height;
              left                       : $menu-li-before-left;
              border-left                : $menu-li-before-border;
              -webkit-transform          : rotateX(90deg) perspective(180px) rotateX(-90deg);
                  -ms-transform          : rotateX(90deg) perspective(180px) rotateX(-90deg);
                      transform          : rotateX(90deg) perspective(180px) rotateX(-90deg);
              -webkit-transform-origin   : center bottom;
                  -ms-transform-origin   : center bottom;
                      transform-origin   : center bottom;
            }

            div {
             line-height                 : $menu-li-button-up-div-line-height;
             -webkit-transform           : rotateX(180deg);
                 -ms-transform           : rotateX(180deg);
                     transform           : rotateX(180deg);

              a {
                outline                  : none;
                padding                  : 22px 5%;

                &:hover,
                &:active,
                &:focus {
                 text-shadow             : $button-glow;
                 text-decoration         : none;
                 font-style              : oblique;
                 -webkit-transition      : $button-transition;
                         transition      : $button-transition;
                 -webkit-transform       : skewX(-10deg);
                     -ms-transform       : skewX(-10deg);
                         transform       : skewX(-10deg);

                  .fas {
                    -webkit-transform    : skewX(-10deg);
                        -ms-transform    : skewX(-10deg);
                            transform    : skewX(-10deg);
                  }
                }
              }
            }
          }

          &.searchLi:before {
           border-right                  : $menu-li-before-border;
          }

         ul.submenu {
           display                       : none;
           position                      : absolute;
           min-width                     : 100%;
           height                        : 100%;
           list-style                    : none;
           margin-top                    : -60px;
           font-size                     : 1em;
           font-variant                  : all-petite-caps;
           transition                    : all .5 ease;
           -webkit-transform             : rotateX(180deg);
               -ms-transform             : rotateX(180deg);
                   transform             : rotateX(180deg);

           li {
             width                       : 100%;
             height                      : 40px;
             margin                      : 0;
             padding                     : 0;
             word-spacing                : 100px;

             &.button-down {
               margin-top                : 22px;

                &:before {
                  background-color       : $header-bg-color;
                  border-right           : 1px solid #DEFEB3;
                }

                div {
                  line-height            : 1em;
                  padding-bottom         : 10px;

                  a {
                    padding              : 0;
                  }
                }
              }

              &.button-up {

                &:before {
                  background-color       : $header-bg-color;
                  border-right           : 1px solid #DEFEB3;
                }

                div {
                 line-height             : 1em;

                 a {
                   padding               : 0;
                 }
                }
              }
            }
          }

          &:hover > ul,
          &:active > ul,
          &:focus > ul,
          &:focus-within > ul {
            display                      : block;
            -webkit-transform-origin     : center top;
                -ms-transform-origin     : center top;
                    transform-origin     : center top;

            &.rollDown {
              -webkit-backface-visibility:visible !important;
              -webkit-animation-duration : $lis-animation-length;
              -webkit-animation-name     : rollDown;
              -moz-backface-visibility   : visible !important;
              -moz-animation-duration    : $lis-animation-length;
              -moz-animation-name        : rollDown;
              -ms-backface-visibility    : visible !important;
              -ms-animation-duration     : $lis-animation-length;
              -ms-animation-name         : rollDown;
              -o-backface-visibility     : visible !important;
              -o-animation-duration      : $lis-animation-length;
              -o-animation-name          : rollDown;
              backface-visibility        : visible !important;
              animation-duration         : $lis-animation-length;
              animation-name             : rollDown;
            }
          }
        }
      }

      .close-btn {
        display: none;
        color: #fff;
        font-size: 2rem;
        position: absolute;
        top: .5rem;
        right: 2rem;
      }
    }
  }
}

@keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    transform                            : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    transform                            : scaleY(1) rotateX(180deg);
  }
}
@-ms-keyframes rollDown {
  0% {
    visibility                           : hidden;
    filter                               : alpha(opacity=0);
    opacity                              : 0;
    -ms-transform                        : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    filter                               : alpha(opacity=100);
    opacity                              : 1;
    -ms-transform                        : scaleY(1) rotateX(180deg);
  }
}
@-o-keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    -o-transform                         : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    -o-transform                         : scaleY(1) rotateX(180deg);
  }
}
@-webkit-keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    -webkit-transform                            : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    -webkit-transform                            : scaleY(1) rotateX(180deg);
  }
}
@-moz-keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    -moz-transform                            : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    -moz-transform                            : scaleY(1) rotateX(180deg);
  }
}
