// !compileOnSave
// compileOnSave                         : false
// main                                  : ../style.scss


/* Header ------------------------ */
header {
  &.top-wrap {
    position                             : relative;
    background-color                     : $header-bg-color;
    height                               : $header-height;
    z-index                              : 9999;

    #responsive-menu-trigger, #close-menu {
      display                            : none;
      float                              : right;
    }

    .main-header {
      display                            : inline-flex;
      flex-direction                     : row;
      width                              : $wrapper-width;

      .logo {
        padding                          : $logo-padding;
        width                            : $logo-width;

        img#byolLogo {
          width                          : $logo-img-width;
        }
      }

      ul#menu {
        list-style                       : none;
        display                          : inline-flex;
        flex-direction                   : row;
        text-align                       : center;
        text-transform                   : $menu-text-transform;
        width                            : $menu-ul-width;

       li {
         width                           : $menu-li-width;

         &.button-down {
            margin                       : $menu-li-button-down-margin;
            height                       : $header-height;
            -webkit-transform            : rotateX(180deg);
                -ms-transform            : rotateX(180deg);
                    transform            : rotateX(180deg);

            &:before {
              content                    : '';
              position                   : absolute;
              width                      : $menu-li-before-width;
              height                     : $menu-li-before-height;
              left                       : $menu-li-before-left;
              border-left                : $menu-li-before-border;
              -webkit-transform          : rotateX(-90deg) perspective(180px) rotateX(90deg);
                  -ms-transform          : rotateX(-90deg) perspective(180px) rotateX(90deg);
                      transform          : rotateX(-90deg) perspective(180px) rotateX(90deg);
              -webkit-transform-origin   : center top;
                  -ms-transform-origin   : center top;
                      transform-origin   : center top;
           }

            div {
              line-height                : $menu-li-button-down-div-line-height;
              -webkit-transform          : rotateX(180deg);
                  -ms-transform          : rotateX(180deg);
                      transform          : rotateX(180deg);

              a {
                outline                  : $menu-a-outline;
                padding                  : $menu-li-a-padding;

                &:hover,
                &:active,
                &:focus {
                 text-shadow             : $button-glow;
                 text-decoration         : $menu-a-hover-text-decoration;
                 font-style              : $menu-a-hover-font-style;
                 -webkit-transition      : $button-transition;
                         transition      : $button-transition;
                 -webkit-transform       : skewX(-10deg);
                     -ms-transform       : skewX(-10deg);
                         transform       : skewX(-10deg);

                  .fas {
                    -webkit-transform    : skewX(-10deg);
                        -ms-transform    : skewX(-10deg);
                            transform    : skewX(-10deg);
                  }
                }
              }
            }
          }

          &.button-up {
            height                       : $menu-li-button-up-height;
            -webkit-transform            : rotateX(180deg);
                -ms-transform            : rotateX(180deg);
                    transform            : rotateX(180deg);

            &:before {
              content                    : '';
              position                   : absolute;
              width                      : $menu-li-before-width;
              height                     : $menu-li-before-height;
              left                       : $menu-li-before-left;
              border-left                : $menu-li-before-border;
              -webkit-transform          : rotateX(90deg) perspective(180px) rotateX(-90deg);
                  -ms-transform          : rotateX(90deg) perspective(180px) rotateX(-90deg);
                      transform          : rotateX(90deg) perspective(180px) rotateX(-90deg);
              -webkit-transform-origin   : center bottom;
                  -ms-transform-origin   : center bottom;
                      transform-origin   : center bottom;
            }

            div {
             line-height                 : $menu-li-button-up-div-line-height;
             -webkit-transform           : rotateX(180deg);
                 -ms-transform           : rotateX(180deg);
                     transform           : rotateX(180deg);

              a {
                outline                  : $menu-a-outline;

                &:hover,
                &:active,
                &:focus {
                 text-shadow             : $button-glow;
                 text-decoration         : $menu-a-hover-text-decoration;
                 font-style              : $menu-a-hover-font-style;
                 -webkit-transition      : $button-transition;
                         transition      : $button-transition;
                 -webkit-transform       : skewX(-10deg);
                     -ms-transform       : skewX(-10deg);
                         transform       : skewX(-10deg);

                  .fas {
                    -webkit-transform    : skewX(-10deg);
                        -ms-transform    : skewX(-10deg);
                            transform    : skewX(-10deg);
                  }
                }
              }
            }
          }

          &.searchLi:before {
           border-right                  : $menu-li-before-border;
          }

         ul.submenu {
           display                       : none;
           position                      : absolute;
           min-width                     : $submenu-min-width;
           height                        : $submenu-height;
           list-style                    : none;
           margin-top                    : $submenu-margin-top;
           font-variant                  : $submenu-font-variant;
           transition-duration           : $base-animation-length;
           transition-timing-function    : $base-animation-timing-function;
           -webkit-transform             : rotateX(180deg);
               -ms-transform             : rotateX(180deg);
                   transform             : rotateX(180deg);

           li {
             width                       : $submenu-li-width;
             height                      : $submenu-li-height;
             margin                      : $submenu-li-margin;
             word-spacing                : $submenu-li-word-spacing;

             &.button-down {
               margin-top                : $submenu-li-button-down-margin-top;

                &:before {
                  background-color       : $header-bg-color;
                  border-right           : $menu-li-before-border;
                }

                div {
                  line-height            : $submenu-li-div-line-height;
                  padding-bottom         : $submenu-li-div-padding-bottom;

                  a {
                    padding              : $submenu-li-div-a-padding;
                  }
                }
              }

              &.button-up {

                &:before {
                  background-color       : $header-bg-color;
                  border-right           : $menu-li-before-border;
                }

                div {
                 line-height             : $submenu-li-div-line-height;

                 a {
                   padding               : $submenu-li-div-a-padding;
                 }
                }
              }
            }
          }

          &:hover > ul,
          &:active > ul,
          &:focus > ul,
          &:focus-within > ul {
            display                      : block;
            -webkit-transform-origin     : center top;
                -ms-transform-origin     : center top;
                    transform-origin     : center top;

            &.rollDown {
              -webkit-backface-visibility:visible !important;
              -webkit-animation-duration : $base-animation-length;
              -webkit-animation-name     : rollDown;
              -moz-backface-visibility   : visible !important;
              -moz-animation-duration    : $base-animation-length;
              -moz-animation-name        : rollDown;
              -ms-backface-visibility    : visible !important;
              -ms-animation-duration     : $base-animation-length;
              -ms-animation-name         : rollDown;
              -o-backface-visibility     : visible !important;
              -o-animation-duration      : $base-animation-length;
              -o-animation-name          : rollDown;
              backface-visibility        : visible !important;
              animation-duration         : $base-animation-length;
              animation-name             : rollDown;
            }
          }
        }
      }
    }
  }
}

@keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    transform                            : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    transform                            : scaleY(1) rotateX(180deg);
  }
}
@-ms-keyframes rollDown {
  0% {
    visibility                           : hidden;
    filter                               : alpha(opacity=0);
    opacity                              : 0;
    -ms-transform                        : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    filter                               : alpha(opacity=100);
    opacity                              : 1;
    -ms-transform                        : scaleY(1) rotateX(180deg);
  }
}
@-o-keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    -o-transform                         : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    -o-transform                         : scaleY(1) rotateX(180deg);
  }
}
@-webkit-keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    -webkit-transform                    : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    -webkit-transform                    : scaleY(1) rotateX(180deg);
  }
}
@-moz-keyframes rollDown {
  0% {
    visibility                           : hidden;
    opacity                              : 0;
    -moz-transform                       : scaleY(0) rotateX(180deg);
  }
  100% {
    visibility                           : visible;
    opacity                              : 1;
    -moz-transform                       : scaleY(1) rotateX(180deg);
  }
}
