// !compileOnSave
// compileOnSave                   : false
// main                            : ../style.scss


/* Main Content ------------------ */

.col-main {
  width                            : $col-main-width;
  margin-right                     : $col-gutter;

  .video-wrapper {
    height                         : $video-wrapper-height;
    width                          : $video-wrapper-width;
    margin                         : $video-wrapper-margin;
    background-repeat              : no-repeat;
    background-position            : center;
    background-size                : 100% 100%;
    background-image               : svgParams(video, $video-svg-color);

    .video-controls {
      display                      : -webkit-box;
      display                      : flex;
      justify-content              : center;
      flex-wrap                    : wrap;
      -webkit-box-pack             : start;
      -webkit-transform            : translateX(-45px);
          -ms-transform            : translateX(-45px);
              transform            : translateX(-45px);

      .next-lesson, .previous-lesson {
        font-size                  : $video-nav-text-size;
        margin-top                 : $video-nav-margin-top;
        padding                    : $video-nav-padding;
        -webkit-transform          : scaleX($video-nav-transform-scalex);
            -ms-transform          : scaleX($video-nav-transform-scalex);
                transform          : scaleX($video-nav-transform-scalex);

        a {
          outline                  : none;

          &:focus, &:hover, &:active {
            cursor                 : pointer;
            text-shadow            : $button-glow;
            -webkit-transition     : $button-transition;
                    transition     : $button-transition;
          }
        }

        &.current {
          visibility               : hidden;
        }
      }

      .previous-lesson {
        padding-left               : 30px;
      }

      .next-lesson {
        right                      : -50px;
        position                   : absolute;
      }

      .video-player {
        margin-left                : -25px;
        -webkit-transform          : translate($video-transform-translate);
            -ms-transform          : translate($video-transform-translate);
                transform          : translate($video-transform-translate);

        .video-frame {
          width                    : $video-width;
          height                   : $video-height;
        }
      }
    }

    .video-title {
      color                        : $video-caption-color;
      font-size                    : $video-caption-text-size;
      font-style                   : $video-caption-text-style;
      margin-top                   : $video-caption-margin-top;
      text-align                   : center;
    }
  }

  .course-titling-wrapper {
    height                         : $course-titling-wrapper-height;
    width                          : $course-titling-wrapper-width;
    margin                         : $course-titling-wrapper-margin;
    background-repeat              : no-repeat;
    background-position            : center;
    background-size                : 100% 100%;
    background-image               : svgParams(course, $course-svg-color, $svg-secondary-color);

      .course-title-wrap {
        margin-left                : $course-title-wrap-margin-left;
        padding-top                : $course-title-wrap-padding-top;
      }

      .course-titling {
        color                      : $course-titling-color;
        font-size                  : $course-titling-text-size;
        line-height                : $course-titling-line-height;

        strong {
          font-weight              : $course-titling-strong;
          letter-spacing           : $course-titling-strong-spacing;
        }
      }

      .extra-info {
        display                    : flex;
      }

      .video-count {
        margin-left                : $video-count-margin-left;
        position                   : absolute;
      }

      .video-numbering {
        text-align                 : $video-numbering-text-align;
      }
  }

  .main-content-tabs {
    margin-top                     : $vertical-margin-spacing;

    section {
      display                      : none;
    }

    input {
      display                      : none;
    }

    label {
      display                      : inline-block;
      font-weight                  : $tabs-label-font-weight;
      text-align                   : center;
      color                        : $tabs-color-inactive;
      margin                       : $tabs-label-margin;
      padding                      : $tabs-label-padding;
      background-repeat            : no-repeat;
      background-position          : center;
      background-size              : 100% 100%;
      background-image             : svgParams(tab, $talk-print-svg-color, $svg-secondary-color);

      &:hover {
        color                      : $tabs-hover-color;
        cursor                     : pointer;
      }
    }

    input:checked + label {
      color                        : $titling-color;
      background-repeat            : no-repeat;
      background-position          : center;
      background-size              : 100% 100%;
      background-image             : svgParams(tab, $talk-print-svg-color, $svg-secondary-color, $talk-print-svg-color);
    }

    input#qa-tab + label {
      margin-left                  : $tabs-margin-left;
    }

    #talk-print-wrapper {
      width                        : $talk-print-wrapper-width;
      padding                      : $talk-print-wrapper-padding;
      background-repeat            : no-repeat;
      background-position          : center;
      background-size              : 100% 100%;
      background-image             : svgParams(talk-print, $talk-print-svg-color, $svg-secondary-color);

      .zoink {
        -webkit-animation-fill-mode: both;
        -webkit-animation-duration : $tabs-animation-length;
        -webkit-animation-name     : zoink;
        -moz-animation-fill-mode   : both;
        -moz-animation-duration    : $tabs-animation-length;
        -moz-animation-name        : zoink;
        -ms-animation-fill-mode    : both;
        -ms-animation-duration     : $tabs-animation-length;
        -ms-animation-name         : zoink;
        -o-animation-fill-mode     : both;
        -o-animation-duration      : $tabs-animation-length;
        -o-animation-name          : zoink;
        animation-fill-mode        : both;
        animation-duration         : $tabs-animation-length;
        animation-name             : zoink;
      }

      h4 {
        color                      : $text-color;
        font-size                  : $discussion-login-text-size;
        font-weight                : $discussion-login-font-weight;
        margin-bottom              : $discussion-login-margin-bottom;

        a {
          color                    : $discussion-login-link-color;
          text-decoration          : underline;
        }
      }

      #discuss {
        ol#comments {
          color                    : $comments-text-color;

          li {
            list-style-type        : none;
            width                  : $comments-li-width;
            padding                : $comments-li-padding;

            h5 {
              strong {
                font-weight        : $contents-li-h5-font-weight;
              }
            }

            &.student-comments {
              background-repeat    : no-repeat;
              background-position  : center;
              background-size      : 100% 100%;
              background-image     : svgParams(talkazoid-0, $talk-print-svg-color, $svg-secondary-color);
            }

            &.teacher-comments {
              margin-left          : $teacher-comments-margin-left;
              text-align           : $teacher-comments-text-align;
              background-repeat    : no-repeat;
              background-position  : center;
              background-size      : 100% 100%;
              background-image     : svgParams(talkazoid-180, $talk-print-svg-color, $svg-secondary-color);
            }
          }
        }
      }

      #transcript {
        margin-left                : $transcript-margin-left;

        &:before {
          content                  : '';
          position                 : absolute;
          width                    : $quote-icon-width;
          height                   : $quote-icon-height;
          margin-left              : $quote-icon-margin-left;
          background-repeat        : no-repeat;
          background-position      : center;
          background-size          : 100% 100%;
          background-image         : svgParams(quote, $quote-svg-color);
        }

        p:not(:last-child) {
          margin-bottom            : $transcript-p-margin-bottom;
        }
      }
    }

    #qa-tab:checked ~ #talk-print-wrapper section#discussion,
    #vt-tab:checked ~ #talk-print-wrapper section#transcription {
      display                      : block;
      background-color             : $talk-print-bg-color;
    }
  }
}

@keyframes zoink {
  0% {
    opacity                  : 0;
    filter                   : blur(2em);
    transform-origin         : top;
    transform                : perspective(800px) scale(.1,.1) rotateX(-180deg);
  }
  100% {
    opacity                  : 1;
    filter                   : blur(0em);
    transform-origin         : top;
    transform                : perspective(800px) scale(1,1) rotateX(0deg);
  }
}
@-ms-keyframes zoink {
  0% {
    opacity                  : 0;
    filter                   : alpha(opacity=0);
    filter                   : blur(2em);
    -ms-transform-origin     : top;
    -ms-transform            : perspective(800px) scale(.1,.1) rotateX(-180deg);
  }
  100% {
    opacity                  : 1;
    filter                   : alpha(opacity=100);
    filter                   : blur(0em);
    -ms-transform-origin     : top;
    -ms-transform            : perspective(800px) scale(1,1) rotateX(0deg);
  }
}
@-o-keyframes zoink {
  0% {
    opacity                  : 0;
    -webkit-filter           : blur(2em);
    -o-transform-origin      : top;
    -o-transform             : perspective(800px) scale(.1,.1) rotateX(-180deg);
  }
  100% {
    opacity                  : 1;
    -webkit-filter           : blur(0em);
    -o-transform-origin      : top;
    -o-transform             : perspective(800px) scale(1,1) rotateX(0deg);
  }
}
@-webkit-keyframes zoink {
  0% {
    opacity                  : 0;
    -webkit-filter           : blur(2em);
    -webkit-transform-origin : top;
    -webkit-transform        : perspective(800px) scale(.1,.1) rotateX(-180deg);
  }
  100% {
    opacity                  : 1;
    -webkit-filter           : blur(0em);
    -webkit-transform-origin : top;
    -webkit-transform        : perspective(800px) scale(1,1) rotateX(0deg);
  }
}
@-moz-keyframes zoink {
  0% {
    opacity                  : 0;
    -moz-filter              : blur(2em);
    -moz-transform-origin    : top;
    -moz-transform           : perspective(800px) scale(.1,.1) rotateX(-180deg);
  }
  100% {
    opacity                  : 1;
    -moz-filter              : blur(0em);
    -moz-transform-origin    : top;
    -moz-transform           : perspective(800px) scale(1,1) rotateX(0deg);
  }
}
