// !compileOnSave
// compileOnSave      : false
// main               : ../style.scss


/* Main Content ------------------ */

.col-main {
  width               : $col-main-width;
  margin-right        : $col-gutter;
}

.video-wrapper, .course-titling-wrapper {
  width               : $col-main-width;
  margin              : 0;
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100% 100%;
}

.video-wrapper {
  background-image    : url("data:image/svg+xml;utf8,
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 948 502.096' preserveAspectRatio='none'>
      <defs>
        <style>
          .cls-1 {
            fill      : %23262b2f;
          }
        </style>
      </defs>
      <path id='Path_35' data-name='Path 35' class='cls-1' d='M328,685h812l68-22.513-68-460.86L734,182.9,328,201.626l-68,460.86Z' transform='translate(-260 -182.904)'/>
    </svg>");
  height              : $video-player-wrapper-height;
}

.course-titling-wrapper {
  background-image    : url("data:image/svg+xml;utf8,
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 948 128' preserveAspectRatio='none'>
      <defs>
        <style>
          .cls-1 {
            fill      : %23307379;
          }

          .cls-2, .cls-3 {
            stroke    : none;
          }

          .cls-3 {
            fill      : %23262b2f;
          }
        </style>
      </defs>
      <g id='Path_57' data-name='Path 57' class='cls-1' transform='translate(-260 -1017.684)'>
        <path class='cls-2' d='M 732 1145.182983398438 L 326.2886657714844 1125.197143554688 L 261.1109008789063 1018.542663574219 L 325.8549499511719 1038.162109375 L 325.9258728027344 1038.18359375 L 326 1038.18359375 L 1138 1038.18359375 L 1138.069946289063 1038.18359375 L 1138.137451171875 1038.164306640625 L 1206.855102539063 1018.530639648438 L 1137.7197265625 1125.19677734375 L 732 1145.182983398438 Z'/>
        <path class='cls-3' d='M 1205.710205078125 1019.377807617188 L 1138.274658203125 1038.645141601563 L 1138.140014648438 1038.68359375 L 1138 1038.68359375 L 326 1038.68359375 L 325.851806640625 1038.68359375 L 325.7099609375 1038.640625 L 262.2220458984375 1019.40185546875 L 326.577392578125 1124.710815429688 L 732 1144.682373046875 L 1137.439331054688 1124.7099609375 L 1205.710205078125 1019.377807617188 M 260 1017.68359375 L 326 1037.68359375 L 1138 1037.68359375 L 1208 1017.68359375 L 1138 1125.68359375 L 732 1145.68359375 L 326 1125.68359375 L 260 1017.68359375 Z'/>
      </g>
    </svg>");
  height              : $course-titling-wrapper-height;
}

.video-player, .course-title-wrap {
  -webkit-transform   : translate($polygon-inner-transform-translate);
      -ms-transform   : translate($polygon-inner-transform-translate);
          transform   : translate($polygon-inner-transform-translate);
}

.video-title {
  color               : $video-caption-color;
  font-style          : italic;
  font-size           : 10px;
  text-align          : center;
  line-height         : 4em;
}

.course-title-wrap {
  padding-top         : 1em;
  width               : 812px;
}

.course-titling {
  color               : $white;
  font-size           : 20px;
  line-height         : 1.5em;
}

.course-titling strong {
  font-weight         : bold;
  letter-spacing      : .1em;
}

.extra-info {
  display             : inline-flex;
}

.course-title {
  width               : 650px;
}

.video-count {
  width               : 150px;
}

.video-numbering {
  text-align          : right;
}

.talk-print-wrapper {
  width               : 948px;
  padding             : 20px 75px 10%;
  background-image    : url("data:image/svg+xml;utf8,
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 948 512' preserveAspectRatio='none'>
      <defs>
        <style>
          .cls-1 {
            fill      : %23fff;
          }
          .cls-2, .cls-3 {
            stroke    : none;
          }
          .cls-3 {
            fill      : none;
          }
        </style>
      </defs>
      <g id='Path_67' data-name='Path 67' class='cls-1' transform='translate(1208 1529.684) rotate(180)'>
        <path class='cls-2' d='M 1139.566772460938 1529.183837890625 L 328.4331665039063 1529.183837890625 L 260.5567016601563 1058.041015625 L 328.0837707519531 1038.180053710938 L 734 1018.184204101563 L 1139.916259765625 1038.180053710938 L 1207.443237304688 1058.041015625 L 1139.566772460938 1529.183837890625 Z'/>
        <path class='cls-3' d='M 734 1018.684814453125 L 328.16796875 1038.676513671875 L 261.11328125 1058.398559570313 L 328.8662109375 1528.683837890625 L 1139.1337890625 1528.683837890625 L 1206.88671875 1058.398559570313 L 1139.83203125 1038.676513671875 L 734 1018.684814453125 M 734 1017.68359375 L 1140 1037.68359375 L 1208 1057.68359375 L 1140 1529.683837890625 L 328 1529.683837890625 L 260 1057.68359375 L 328 1037.68359375 L 734 1017.68359375 Z'/>
      </g>
    </svg>");
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100% 100%;
}

.discussion, .transcription {
  background-color    : $talk-print-bg-color;
}
