// main                            : ../style.scss


/* Main Content ------------------ */

.col-main {
  width                            : $col-main-width;
  margin-right                     : $col-gutter;
  @include screen700below {
    width                          : calc(#{$col-main-width} + 32%);
    margin-right                   : unset;
  };

  .video-wrapper {
    width                          : $video-wrapper-width;
    margin                         : $video-wrapper-margin;
    background-repeat              : no-repeat;
    background-position            : center;
    background-size                : 100% $video-wrapper-bg-height;
    background-image               : svgParams(video, $video-svg-color);
    @include screen1200 {
      background-size              : 100% calc(#{$video-wrapper-bg-height} - 5%);
    };
    @include screen1000 {
      background-size              : 100% calc(#{$video-wrapper-bg-height} - 2%);
    };
    @include screen900below {
      background-color    : $video-bg-color;
      background-image    : none;
    }
    @include screen500below {
      padding-bottom      : calc(#{$video-wrapper-padding} + 10%);
    }

    .video-controls {
      @include flexed;
      -webkit-transform-style     : preserve-3d;
          -ms-transform-style     : preserve-3d;
              transform-style     : preserve-3d;
      -webkit-transform            : translateX(-45px);
          -ms-transform            : translateX(-45px);
              transform            : translateX(-45px);
      @include screen500below {
        display                    : block;
        -webkit-box-pack           : unset;
        -ms-flex-pack              : unset;
        justify-content            : unset;
        align-items                : unset;
        -webkit-transform          : unset;
            -ms-transform          : unset;
                transform          : unset;
      };

      .next-lesson, .previous-lesson {
        width                      : $video-nav-width;
        font-size                  : $video-nav-text-size;
        margin-top                 : $video-nav-margin-top;
        padding                    : $video-nav-padding;
        -webkit-transform-style     : preserve-3d;
            -ms-transform-style     : preserve-3d;
                transform-style     : preserve-3d;
        -webkit-transform          : scaleX($video-nav-transform-scalex);
            -ms-transform          : scaleX($video-nav-transform-scalex);
                transform          : scaleX($video-nav-transform-scalex);
        @include screen1000 {
          font-size                : calc(#{$video-nav-text-size}  - 250%);
        };
        @include screen900 {
          font-size                : calc(#{$video-nav-text-size}  - 250%);
          margin-top               : calc(#{$video-nav-margin-top} -  10%);
        };
        @include screen900below {
          font-size                : calc(#{$video-nav-text-size}  - 250%);
          margin-top               : unset;
        };
        @include screen500below {
          position                 : absolute;
          width                    : unset;
          font-size                : calc(#{$video-nav-text-size}  - 850%);
        };

        a {
          outline                  : none;

          &:focus,
          &:hover,
          &:active {
            @include button-hover;
          }

          &:focus-within {
            @include button-hover;
          }
        }

        &.current {
          visibility               : hidden;
        }
      }

      .previous-lesson {
        padding-left               : $video-nav-previous-padding-left;
        @include screen1200 {
          padding-left             : calc(#{$video-nav-previous-padding-left} + 1%);
        };
        @include screen1000 {
          padding-left             : calc(#{$video-nav-previous-padding-left} + 6%);
        };
        @include screen900 {
          padding-left             : calc(#{$video-nav-previous-padding-left} + 8.6%);
        };
        @include screen800 {
          padding-left             : calc(#{$video-nav-previous-padding-left} + 8%);
        };
        @include screen700 {
          padding-left             : calc(#{$video-nav-previous-padding-left} + 8%);
        };
        @include screen600 {
          padding-left             : calc(#{$video-nav-previous-padding-left} + 6%);
        };
        @include screen500 {
          padding-left             : calc(#{$video-nav-previous-padding-left} + 8.3%);
        };
        @include screen500below {
          padding                  : unset;
          margin-top               : $video-nav-previous-margin-top;
          left                     : calc(#{$video-nav-previous-padding-left} - 3.05%);
        };
      }

      .next-lesson {
        position                   : absolute;
        right                      : $video-nav-next-right;
        margin-top                 : $video-nav-next-margin-top;
        @include browser-hacks-ms {
          margin-top               : calc(#{$video-nav-next-margin-top} *  2);
        }
        @include screen1200 {
          right                    : calc(#{$video-nav-next-right}      -  0.8%);
        };
        @include screen1000 {
          right                    : calc(#{$video-nav-next-right}      -  1.7%);
        };
        @include screen900 {
          right                    : calc(#{$video-nav-next-right}      -  2.5%);
          margin-top               : calc(#{$video-nav-next-margin-top} -  5%);
        };
        @include screen900below {
          margin-top               : unset;
        };
        @include screen800 {
          right                    : calc(#{$video-nav-next-right}      -  4.1%);
        };
        @include screen700 {
          right                    : calc(#{$video-nav-next-right}      -  4.1%);
        };
        @include screen600 {
          right                    : calc(#{$video-nav-next-right}      -  3.5%);
        };
        @include screen500 {
          right                    : calc(#{$video-nav-next-right}      -  4.9%);
        };
        @include screen500below {
          right                    : calc(#{$video-nav-next-right}      +  6%);
          margin-top               : calc(#{$video-nav-next-margin-top} - 26.5%);
        };
      }

      .video-player {
        position                   : relative;
        overflow                   : hidden;
        width                      : $video-player-width;
        padding-top                : $video-player-padding-top;
        margin-left                : $video-player-margin-left;
        -webkit-transform-style     : preserve-3d;
            -ms-transform-style     : preserve-3d;
                transform-style     : preserve-3d;
        -webkit-transform          : translate(
                                             $video-player-translate-x,
                                             $video-player-translate-y);
            -ms-transform          : translate(
                                             $video-player-translate-x,
                                             $video-player-translate-y);
                transform          : translate(
                                             $video-player-translate-x,
                                             $video-player-translate-y);
        @include screen1200 {
          margin-left              :  calc(#{$video-player-margin-left}  +  1.5%);
        };
        @include screen1000 {
          margin-left              :  calc(#{$video-player-margin-left}  +  3.9%);
        };
        @include screen900 {
          margin-left              :  calc(#{$video-player-margin-left}  +  4%);
          -webkit-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  0.8%),
                                             $video-player-translate-y);
              -ms-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  0.8%),
                                             $video-player-translate-y);
                  transform        : translate(
                                      calc(#{$video-player-translate-x}  +  0.8%),
                                             $video-player-translate-y);
        };
        @include screen800 {
          width                    :  calc(#{$video-player-width}        +  0.8%);
          margin-left              :  calc(#{$video-player-margin-left}  +  4%);
          -webkit-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
              -ms-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
                  transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
        };
        @include screen700 {
          width                    :  calc(#{$video-player-width}        +  0.8%);
          margin-left              :  calc(#{$video-player-margin-left}  +  4%);
          -webkit-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
              -ms-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
                  transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
        };
        @include screen700below {
          width                    :  calc(#{$video-player-width}        +  0.8%);
        };
        @include screen600 {
          margin-left              :  calc(#{$video-player-margin-left}  +  2%);
          -webkit-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
              -ms-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
                  transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2%),
                                      calc(#{$video-player-translate-y}  -  3%));
        };
        @include screen500 {
          margin-left              :  calc(#{$video-player-margin-left}  +  4%);
          -webkit-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2.5%),
                                      calc(#{$video-player-translate-y}  -  2.9%));
              -ms-transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2.5%),
                                      calc(#{$video-player-translate-y}  -  2.9%));
                  transform        : translate(
                                      calc(#{$video-player-translate-x}  +  2.5%),
                                      calc(#{$video-player-translate-y}  -  2.9%));
        };
        @include screen500below {
          width                    :  unset;
          margin-left              :  unset;
          padding-top              :  calc(#{$video-player-padding-top}  + 13%);
          -webkit-transform        :  unset;
              -ms-transform        :  unset;
                  transform        :  unset;
        };

        .video-frame {
          position: absolute;
          top: 0;
          left: 0;
          width                    : $video-width;
          height                   : $video-height;
        }
      }
    }

    .video-title {
      color                        : $video-caption-color;
      font-size                    : $video-caption-text-size;
      font-style                   : $video-caption-text-style;
      margin-top                   : $video-caption-margin-top;
      padding-bottom               : $video-caption-padding-bottom;
      text-align                   : center;
      @include screen1200 {
        margin-top                 : calc(#{$video-caption-margin-top}     -  1%);
        padding-bottom             : calc(#{$video-caption-padding-bottom} +  1.7%);
      };
      @include screen1000 {
        padding-bottom             : calc(#{$video-caption-padding-bottom} +  0.5%);
      };
      @include screen900 {
        padding-bottom             : calc(#{$video-caption-padding-bottom} +  0.7%);
      };
      @include screen900below {
        margin-top                 : calc(#{$video-caption-margin-top}     -  1%);
        padding-bottom             : calc(#{$video-caption-padding-bottom} +  0.7%);
      };
      @include screen500below {
        margin-top                 : calc(#{$video-caption-margin-top}     - 62%);
        padding-bottom             : calc(#{$video-caption-padding-bottom} + 56%);
      };
    }
  }

  .course-titling-wrapper {
    height                         : $course-titling-wrapper-height;
    width                          : $course-titling-wrapper-width;
    margin                         : $course-titling-wrapper-margin;
    background-repeat              : no-repeat;
    background-position            : center;
    background-size                : 100% 100%;
    background-image               : svgParams(course, $course-svg-color, $svg-secondary-color);
    @include screen900 {
      height                       : calc(#{$course-titling-wrapper-height} - 10px);
    };
    @include screen900below {
      height                       : calc(#{$course-titling-wrapper-height} - 50px);
      background-color             : $course-bg-color;
      background-image             : none;
    };
    @include screen500below {
      height                       : unset;
      margin-top                   : calc(#{$vertical-margin-spacing}       - 40px);
    };

    .course-title-wrap {
      margin-left                : $course-title-wrap-margin-left;
      padding-top                : $course-title-wrap-padding-top;
      @include screen1200 {
        padding-top              : calc(#{$course-title-wrap-padding-top}   +  0.7%);
      };
      @include screen900below {
        margin-left              : calc(#{$course-title-wrap-margin-left}   -  6%);
        padding-top              : calc(#{$course-title-wrap-padding-top}   -  3%);
      };
    }

    .course-titling {
      color                      : $course-titling-color;
      font-size                  : $course-titling-text-size;
      line-height                : $course-titling-line-height;
      @include screen1200 {
        font-size                : calc(#{$course-titling-text-size} - 20%);
      };
      @include screen900below {
        font-size                : calc(#{$course-titling-text-size} - 20%);
      };
      @include screen500below {
        font-size                : unset;
        line-height              : unset;
      };

      strong {
        font-weight              : $course-titling-strong;
        letter-spacing           : $course-titling-strong-spacing;
      }
    }

    .extra-info {
      display                    : inline-flex;
      flex-direction             : row;
      @include screen900below {
        display                    : block;
      };
    }

    .video-count {
      position                   : absolute;
      margin-top                 : $video-count-margin-top;
      margin-left                : $video-count-margin-left;
      @include screen1000 {
        margin-top               : calc(#{$video-count-margin-top}  +  3%);
        margin-left              : calc(#{$video-count-margin-left} - 42%);
      };
      @include screen900 {
        margin-top               : calc(#{$video-count-margin-top}  +  3%);
        margin-left              : calc(#{$video-count-margin-left} - 41%);
      };
      @include screen900below {
        margin-top               : unset;
        margin-left              : unset;
      };
      @include screen500below {
        position                 : relative;
      };
    }

    .video-numbering {
      text-align                 : $video-numbering-text-align;
    }
  }

  .main-content-tabs {
    margin-top                     : $vertical-margin-spacing;
    line-height                    : $main-line-height;
    @include screen1200 {
      line-height       : calc(#{$main-line-height}      - 15%);
    };
    @include screen1000 {
      font-size         : calc(#{$lesson-name-font-size} -  10%);
      line-height       : calc(#{$main-line-height}       - 15%);
    };
    @include screen900 {
      font-size         : calc(#{$lesson-name-font-size} -  10%);
      line-height       : calc(#{$main-line-height}       - 10%);
    };
    @include screen900below {
      font-size         : calc(#{$lesson-name-font-size} -  10%);
      line-height       : calc(#{$main-line-height}       - 10%);
    };
    @include screen700below {
      margin-top        : calc(#{$vertical-margin-spacing} - 50px);
    };
    @include screen500below {
      margin-top        : calc(#{$vertical-margin-spacing} - 25px);
    };

    section {
      display                      : none;
    }

    input {
      display                      : none;
    }

    label {
      display                      : inline-block;
      font-weight                  : $tabs-label-font-weight;
      text-align                   : center;
      color                        : $tabs-color-inactive;
      margin                       : $tabs-label-margin;
      padding-top                  : $tabs-label-padding-top-bottom;
      padding-bottom               : $tabs-label-padding-top-bottom;
      padding-left                 : $tabs-label-padding-left-right;
      padding-right                : $tabs-label-padding-left-right;
      background-repeat            : no-repeat;
      background-position          : center;
      background-size              : 100% 100%;
      background-image             : svgParams(tab, $talk-print-svg-color, $svg-secondary-color);
      @include screen1200 {
        padding-top                : calc(#{$tabs-label-padding-top-bottom} + 0.02%);
        padding-bottom             : calc(#{$tabs-label-padding-top-bottom} + 0.02%);
      };
      @include screen900below {
        background-color           : $talk-print-bg-color;
        background-image           : none;
        border                     : 1px solid $tabs-border-color;
      }

      &:focus,
      &:hover,
      &:active {
        color                      : $tabs-hover-color;
        cursor                     : pointer;
      }

      &:focus-within {
        color                      : $tabs-hover-color;
        cursor                     : pointer;
      }
    }

    input:checked + label {
      color                        : $titling-color;
      background-repeat            : no-repeat;
      background-position          : center;
      background-size              : 100% 100%;
      background-image             : svgParams(tab, $talk-print-svg-color, $svg-secondary-color, $talk-print-svg-color);
      @include screen900below {
        background-color           : $talk-print-bg-color;
        background-image           : none;
        border-bottom              : 1px solid $talk-print-bg-color;
      }
    }

    input#qa-tab + label {
      margin-left                  : $tabs-margin-left;
      @include screen800 {
        margin-left                : calc(#{$tabs-margin-left} - 7%);
      };
      @include screen700 {
        margin-left                : calc(#{$tabs-margin-left} - 7%);
      };
      @include screen700below {
        margin-left                : calc(#{$tabs-margin-left} - 7%);
      };
      @include screen500below {
        margin-left                : unset;
      };
    }

    #talk-print-wrapper {
      width                        : $talk-print-wrapper-width;
      padding                      :
        $talk-print-wrapper-padding-top
        $talk-print-wrapper-padding-right
        $talk-print-wrapper-padding-bottom
        $talk-print-wrapper-padding-left;
      background-repeat            : no-repeat;
      background-position          : center;
      background-size              : 100% 100%;
      background-image             : svgParams(talk-print, $talk-print-svg-color, $svg-secondary-color);
      @include screen900below {
        background-color           : $talk-print-bg-color;
        background-image           : none;
        border                     : 1px solid $tabs-border-color;
      }
      @include screen900below {
        padding                    :
          calc(#{$talk-print-wrapper-padding-top}    - 1%)
          calc(#{$talk-print-wrapper-padding-right}  - 7%)
          calc(#{$talk-print-wrapper-padding-bottom} - 4%)
          calc(#{$talk-print-wrapper-padding-left}   - 7%);
      };


      .swashIn {
        -webkit-animation-fill-mode: both;
        -webkit-animation-duration : $tabs-animation-length;
        -webkit-animation-name     : swashIn;
        -moz-animation-fill-mode   : both;
        -moz-animation-duration    : $tabs-animation-length;
        -moz-animation-name        : swashIn;
        -ms-animation-fill-mode    : both;
        -ms-animation-duration     : $tabs-animation-length;
        -ms-animation-name         : swashIn;
        -o-animation-fill-mode     : both;
        -o-animation-duration      : $tabs-animation-length;
        -o-animation-name          : swashIn;
        animation-fill-mode        : both;
        animation-duration         : $tabs-animation-length;
        animation-name             : swashIn;
      }

      h4 {
        color                      : $text-color;
        font-size                  : $discussion-login-text-size;
        font-weight                : $discussion-login-font-weight;
        margin-bottom              : $discussion-login-margin-bottom;

        a {
          color                    : $discussion-login-link-color;
          text-decoration          : underline;
        }
      }

      #discuss {
        ol#comments {
          color                    : $comments-text-color;

          li {
            list-style-type        : none;
            width                  : $comments-li-width;
            padding                : $comments-li-padding;

            h5 {
              strong {
                font-weight        : $comments-li-h5-font-weight;
              }
            }

            &.student-comments {
              background-repeat    : no-repeat;
              background-position  : center;
              background-size      : 100% 100%;
              background-image     : svgParams(talkazoid-0, $talk-print-svg-color, $svg-secondary-color);
            }

            &.teacher-comments {
              margin-left          : $teacher-comments-margin-left;
              text-align           : $teacher-comments-text-align;
              background-repeat    : no-repeat;
              background-position  : center;
              background-size      : 100% 100%;
              background-image     : svgParams(talkazoid-180, $talk-print-svg-color, $svg-secondary-color);
            }
          }
        }
      }

      #transcript {
        margin-left                : $transcript-margin-left;
        padding-left               : $transcript-padding-left;
        @include screen900below {
          margin-left              : calc(#{$transcript-margin-left}  - 8%);
          padding-left             : calc(#{$transcript-padding-left} + 8%);
        };
        @include screen500below {
          margin                   : unset;
          padding                  : calc(#{$transcript-padding-left} + 1%);
        };

        &:before {
          content                  : '';
          position                 : absolute;
          width                    : $quote-icon-width;
          height                   : $quote-icon-height;
          margin-left              : $quote-icon-margin-left;
          background-repeat        : no-repeat;
          background-position      : center;
          background-size          : 100% 100%;
          background-image         : svgParams(quote, $quote-svg-color);
          @include screen1000 {
            width                  : calc(#{$quote-icon-width}       -  5px);
            height                 : calc(#{$quote-icon-height}      -  5px);
            margin-left            : calc(#{$quote-icon-margin-left} -  1%);
          };
          @include screen900 {
            width                  : calc(#{$quote-icon-width}       - 10px);
            height                 : calc(#{$quote-icon-height}      - 10px);
            margin-left            : calc(#{$quote-icon-margin-left} -  1%);
          };
          @include screen900below {
            width                  : calc(#{$quote-icon-width}       - 15px);
            height                 : calc(#{$quote-icon-height}      - 15px);
            margin-left            : calc(#{$quote-icon-margin-left} -  1%);
          };
          @include screen500below {
            display                : none;
          };
        }

        p:not(:last-child) {
          margin-bottom            : $transcript-p-margin-bottom;
        }
      }
    }

    #qa-tab:checked ~ #talk-print-wrapper section#discussion,
    #vt-tab:checked ~ #talk-print-wrapper section#transcription {
      display                      : block;
      background-color             : $talk-print-bg-color;
    }
  }
}

@keyframes swashIn {
  0% {
    opacity: 0;
    transform-style     : preserve-3d;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  90% {
    opacity: 1;
    transform-style     : preserve-3d;
    transform-origin: 50% 50%;
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform-style     : preserve-3d;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@-ms-keyframes swashIn {
  0% {
    opacity: 0;
    -ms-transform-style     : preserve-3d;
    -ms-transform-origin: 50% 50%;
    -ms-transform: scale(0, 0);
  }

  90% {
    opacity: 1;
    -ms-transform-style     : preserve-3d;
    -ms-transform-origin: 50% 50%;
    -ms-transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    -ms-transform-style     : preserve-3d;
    -ms-transform-origin: 50% 50%;
    -ms-transform: scale(1, 1);
  }
}
@-o-keyframes swashIn {
  0% {
    opacity: 0;
    -o-transform-style     : preserve-3d;
    -o-transform-origin: 50% 50%;
    -o-transform: scale(0, 0);
  }

  90% {
    opacity: 1;
    -o-transform-style     : preserve-3d;
    -o-transform-origin: 50% 50%;
    -o-transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    -o-transform-style     : preserve-3d;
    -o-transform-origin: 50% 50%;
    -o-transform: scale(1, 1);
  }
}
@-webkit-keyframes swashIn {
  0% {
    opacity: 0;
    -webkit-transform-style     : preserve-3d;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
  }

  90% {
    opacity: 1;
    -webkit-transform-style     : preserve-3d;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    -webkit-transform-style     : preserve-3d;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes swashIn {
  0% {
    opacity: 0;
    -moz-transform-style     : preserve-3d;
    -moz-transform-origin: 50% 50%;
    -moz-transform: scale(0, 0);
  }

  90% {
    opacity: 1;
    -moz-transform-style     : preserve-3d;
    -moz-transform-origin: 50% 50%;
    -moz-transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    -moz-transform-style     : preserve-3d;
    -moz-transform-origin: 50% 50%;
    -moz-transform: scale(1, 1);
  }
}
