// main                 : ../style.scss


/* Mixinss ----------------------- */
@mixin browser-hacks {
  // Microsoft Edge Browser (All) - @supports method
  @supports (-ms-accelerator:true) {
    @content;
  }

  // Microsoft Edge Browser 12+ (All) - @supports method
  @supports (-ms-ime-align:auto) {
    @content;
  }

  // Microsoft Edge Browser 15+ - @supports method
  @supports (-ms-ime-align:auto) and (-webkit-text-stroke:initial) {
    @content;
  }

  // Microsoft IE 10 and IE 11 - @media method
  @media screen and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin flexed {
  display           : -webkit-box;
  display           : -ms-flexbox;
  display           : flex;
  -ms-flex-wrap     : wrap;
      flex-wrap     : wrap;
  -webkit-box-pack  : center;
  -ms-flex-pack     : center;
  justify-content   : center;
  align-items       : center;
}

@mixin body-a-hover {
  outline         : $a-hover-outline;
  text-decoration : $a-hover-text-decoration;
}

@mixin button-hover {
  cursor            : pointer;
  text-shadow       : $button-glow;
  font-style        : oblique;
  -webkit-transition: $button-transition;
          transition: $button-transition;
}

@mixin subscribe-button-hover {
  cursor              : pointer;
  background-image    : svgParams(main-button-0, $svg-secondary-color, $cta-svg-color, $svg-border-color);
  @include screen900below {
    background-image    : none;
  }
  -webkit-transition  : $button-transition;
          transition  : $button-transition;
}

@mixin signup-button-hover {
  cursor              : pointer;
  text-shadow         : $button-glow;
  font-style          : oblique;
  background-image    : svgParams(main-button-0, $svg-secondary-color, $cta-svg-color, $svg-border-color);
  @include screen900below {
    background-image    : none;
  }
  -webkit-transition  : $button-transition;
          transition  : $button-transition;

  a {
    outline           : none;
    text-decoration   : none;
  }
}

@mixin menu-hover {
  text-shadow             : $button-glow;
  text-decoration         : $menu-a-hover-text-decoration;
  font-style              : $menu-a-hover-font-style;
  -webkit-transition      : $button-transition;
          transition      : $button-transition;
  -webkit-transform       : skewX(-10deg);
      -ms-transform       : skewX(-10deg);
          transform       : skewX(-10deg);

  .fas {
    -webkit-transform    : skewX(-10deg);
        -ms-transform    : skewX(-10deg);
            transform    : skewX(-10deg);
  }
}

@mixin social-menu-hover {
  -webkit-transform    : skewX(-10deg);
      -ms-transform    : skewX(-10deg);
          transform    : skewX(-10deg);
}

@mixin social-menu-button-up-hover {
  text-shadow        : $button-glow;
  font-style         : oblique;
  background-image   : svgParams(main-button-90, $svg-secondary-color, $cta-svg-color, $svg-border-color);
  @include screen900below {
    background-image    : none;
  }
  -webkit-transition : $button-transition;
          transition : $button-transition;

  a {
    outline          : none;
    text-decoration  : none;
  }
}

@mixin social-menu-button-down-hover {
  text-shadow        : $button-glow;
  font-style         : oblique;
  background-image   : svgParams(main-button-270, $svg-secondary-color, $cta-svg-color, $svg-border-color);
  @include screen900below {
    background-image    : none;
  }
  -webkit-transition : $button-transition;
          transition : $button-transition;

  a {
    outline          : none;
    text-decoration  : none;
  }
}

@mixin submenu-animation {
  display                      : block;
  -webkit-transform-origin     : center top;
      -ms-transform-origin     : center top;
          transform-origin     : center top;

  &.rollDown {
    @include screen900above {
      -webkit-backface-visibility:visible;
      -webkit-animation-duration : $base-animation-length;
      -webkit-animation-name     : rollDown;
      -moz-backface-visibility   : visible;
      -moz-animation-duration    : $base-animation-length;
      -moz-animation-name        : rollDown;
      -ms-backface-visibility    : visible;
      -ms-animation-duration     : $base-animation-length;
      -ms-animation-name         : rollDown;
      -o-backface-visibility     : visible;
      -o-animation-duration      : $base-animation-length;
      -o-animation-name          : rollDown;
      backface-visibility        : visible;
      animation-duration         : $base-animation-length;
      animation-name             : rollDown;
    };
  }
}

@mixin screen1400 {
  @media screen and (min-width: calc(#{$wrapper-width-1400} + 30px)) {
    @content;
  }
}

@mixin screen1200 {
  @media (min-width: calc(#{$wrapper-width-1200} + 30px)) and (max-width: calc(#{$wrapper-width-1200} + 229px)) {
    @content;
  }
}

@mixin screen1000 {
  @media (min-width: calc(#{$wrapper-width-1000} + 30px)) and (max-width: calc(#{$wrapper-width-1000} + 229px)) {
    @content;
  }
}

@mixin screen900above {
  @media screen and (min-width: calc(#{$wrapper-width-900} + 30px)) {
    @content;
  }
}

@mixin screen900 {
  @media (min-width: calc(#{$wrapper-width-900} + 30px)) and (max-width: calc(#{$wrapper-width-900} + 129px)) {
    @content;
  }
}

@mixin screen900below {
  @media screen and (max-width: calc(#{$wrapper-width-800} + 129px)) {
    @content;
  }
}

@mixin screen800 {
  @media (min-width: calc(#{$wrapper-width-800} + 30px)) and (max-width: calc(#{$wrapper-width-800} + 129px)) {
    @content;
  }
}

@mixin screen700 {
  @media (min-width: calc(#{$wrapper-width-700} + 30px)) and (max-width: calc(#{$wrapper-width-700} + 129px)) {
    @content;
  }
}

@mixin screen700below {
  @media screen and (max-width: calc(#{$wrapper-width-600} + 129px)) {
    @content;
  }
}

@mixin screen600 {
  @media (min-width: calc(#{$wrapper-width-600} + 30px)) and (max-width: calc(#{$wrapper-width-600} + 129px)) {
    @content;
  }
}

@mixin screen500 {
  @media (min-width: calc(#{$wrapper-width-500} + 30px)) and (max-width: calc(#{$wrapper-width-500} + 129px)) {
    @content;
  }
}

@mixin screen500below {
  @media screen and (max-width: calc(#{$wrapper-width-500} + 30px)) {
    @content;
  }
}
