// !compileOnSave
// compileOnSave      : false
// main               : ../style.scss


/* Page -------------------------- */

body {
  background-color    : $page-bg-color;
  font-family         : $main-text-font;
  font-size           : $main-text-size;
}

a {
	color               : $text-link-color;
	text-decoration     : none;

  &:focus, &:hover, &:active {
  	outline             : thin dotted;
  	text-decoration     : underline;
  }
}

.wrapper {
           position   : relative;
          max-width   : 100%;
              width   : $container-width;
               left   : 50%;
       margin-right   : -50%;
  -webkit-transform   : translateX(-50%);
      -ms-transform   : translateX(-50%);
          transform   : translateX(-50%);
}

.page-title-wrap {
  display             : inline-flex;
  width               : $container-width;
  margin-top          : 50px;

  .page-title {
    width               : $col-main-width;
    margin-right        : 12px;

    h1 {
      font-family         : $page-title-font;
      font-size           : $page-title-size;
      color               : $titling-color;
    }
  }
}

.page-wrap {
  display             : inline-flex;
  width               : $container-width;
  margin-top          : 50px;
}
