// !compileOnSave
// compileOnSave        : false
// main                 : ../style.scss


/* Sidebar ----------------------- */

.col-aside {
  width                 : $col-aside-width;
  padding               : $col-aside-padding;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(sidebar, $sidebar-svg-color);

  .lesson-name-wrapper {
    background-color    : $lesson-name-wrapper-bg-color;
  }

  ul {
    counter-reset     : li;

    li {
      list-style          : none;

      input {
        display: none;
      }

      label {
        display: block;
        cursor: pointer;
        background-color  : $lesson-name-span-bg-color;
        color             : $lesson-name-span-text-color;
        width             : $lesson-name-span-width;
        padding           : $lesson-name-span-padding;
        text-transform    : $lesson-name-span-text-transform;
        margin            : $lesson-name-span-margin;

        &.ln-label {
          &::after {
            content: " ";
            display: block;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid currentColor;
            vertical-align: middle;
            transition: transform .2s ease-out;
            float: right;
            clear: both;
            margin-right: -10px;
            -webkit-transform          : translateY(50%);
                -ms-transform          : translateY(50%);
                    transform          : translateY(50%);
          }
        }
      }

      .toggle:checked + .ln-label::after {
        -webkit-transform          : rotate(90deg);
            -ms-transform          : rotate(90deg);
                transform          : rotate(90deg);
      }

      ol {
        // Because display:none messes up the lesson counter
        font-size: 0;
        visibility: hidden;

        li {
          margin-left       : $lesson-name-li-margin-left;

          ::before {
            counter-increment: li;
            content         : counter(li);
            color           : $lesson-link-number-color;
            display         : inline-block;
            width           : $lesson-link-number-width;
            margin-left     : $lesson-link-number-margin-left;
            margin-right    : $lesson-link-number-margin-right;
            text-align      : $lesson-link-number-text-align;
            direction       : $lesson-link-number-text-direction;
          }

          &.active {
            &:before {
              content       : $lesson-link-active-marker;
              font-size     : $lesson-link-active-marker-size;
              color         : $lesson-link-number-color;
              margin-left   : $lesson-link-active-margin-left;
              margin-right  : $lesson-link-active-margin-right;
            }
          }
        }
      }

      .toggle:checked + * + ol {
        font-size: 100%;
        visibility: visible;
      }
    }
  }
}
