// main                 : ../style.scss


/* Sidebar ----------------------- */

.col-aside {
  width                 : $col-aside-width;
  padding-top           : $col-aside-padding-top;
  padding-left          : $col-aside-padding-left-right;
  padding-right         : $col-aside-padding-left-right;
  padding-bottom        : $col-aside-padding-bottom;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : 100% 100%;
  background-image      : svgParams(sidebar, $sidebar-svg-color);
  @include screen1200 {
    padding-left        : calc(#{$col-aside-padding-left-right}  + 1%);
    padding-right       : calc(#{$col-aside-padding-left-right}  + 1%);
  };
  @include screen900below {
    background-color    : $lesson-name-wrapper-bg-color;
    background-image    : none;
    padding-top         : unset;
  }
  @include screen800 {
    padding-left        : calc(#{$col-aside-padding-left-right}  - 5%);
    padding-right       : calc(#{$col-aside-padding-left-right}  - 5%);
    padding-bottom      : calc(#{$col-aside-padding-bottom}      - 5%);
  };
  @include screen700 {
    padding-left        : calc(#{$col-aside-padding-left-right}  - 5%);
    padding-right       : calc(#{$col-aside-padding-left-right}  - 5%);
    padding-bottom      : calc(#{$col-aside-padding-bottom}      - 5%);
  };
  @include screen700below {
    width                 : unset;
    margin-top            : calc(#{$vertical-margin-spacing} - 25px);
    padding-top           : unset;
    padding-left          : unset;
    padding-right         : unset;
    padding-bottom        : unset;
  };

  .lesson-name-wrapper {
    background-color      : $lesson-name-wrapper-bg-color;
  }

  ul {
    font-size         : $lesson-name-font-size;
    counter-reset     : li;
    @include screen900below {
      margin-top        : -$lesson-name-label-margin-top-bottom;
    };

    li {
      list-style          : none;

      input {
        display: none;
      }

      label {
        display: block;
        cursor: pointer;
        font-size         : $lesson-name-font-size;
        background-color  : $lesson-name-label-bg-color;
        color             : $lesson-name-label-text-color;
        padding-top       : $lesson-name-label-padding-top-bottom;
        padding-bottom    : $lesson-name-label-padding-top-bottom;
        padding-left      : $lesson-name-label-padding-left;
        padding-right     : $lesson-name-label-padding-right;
        text-transform    : $lesson-name-label-text-transform;
        margin-top        : $lesson-name-label-margin-top-bottom;
        margin-bottom     : $lesson-name-label-margin-top-bottom;
        margin-left       : $lesson-name-label-margin-left-right;
        margin-right      : $lesson-name-label-margin-left-right;
        @include screen1200 {
          margin-left     : calc(#{$lesson-name-label-margin-left-right}  - 10px);
          margin-right    : calc(#{$lesson-name-label-margin-left-right}  - 10px);
          font-size       : calc(#{$lesson-name-font-size}                -  5%);
        };
        @include screen1000 {
          padding-top     : calc(#{$lesson-name-label-padding-top-bottom} -  5px);
          padding-bottom  : calc(#{$lesson-name-label-padding-top-bottom} -  5px);
          padding-right   : calc(#{$lesson-name-label-padding-right}      -  5px);
        };
        @include screen900 {
          padding-top     : calc(#{$lesson-name-label-padding-top-bottom} -  5px);
          padding-bottom  : calc(#{$lesson-name-label-padding-top-bottom} -  5px);
          padding-right   : calc(#{$lesson-name-label-padding-right}      -  5px);
        };
        @include screen700 {
          padding-top     : calc(#{$lesson-name-label-padding-top-bottom} -  5px);
          padding-bottom  : calc(#{$lesson-name-label-padding-top-bottom} -  5px);
          padding-right   : calc(#{$lesson-name-label-padding-right}      -  5px);
        };
        @include screen500below {
          margin          : unset;
          border-bottom   : $lesson-name-label-border-bottom;
        };

        &.ln-label {
          &::after {
            display: block;
            content: " ";
            vertical-align: middle;
            float: right;
            clear: both;
            @include triangle("right", 5px, 10px, currentColor);
            margin-right       : $lesson-group-triangle-margin;
            -webkit-transition: -webkit-transform .2s ease-out;
                 -o-transition:         transform .2s ease-out;
                    transition: -webkit-transform .2s ease-out;
                    transition:         transform .2s ease-out;
                    transition:         transform .2s ease-out,
                                -webkit-transform .2s ease-out;
            -webkit-transform-style     : preserve-3d;
                -ms-transform-style     : preserve-3d;
                    transform-style     : preserve-3d;
            -webkit-transform          : translateY(50%);
                -ms-transform          : translateY(50%);
                    transform          : translateY(50%);
            @include screen600 {
              margin-right     : calc(#{$lesson-group-triangle-margin} + 2%);
            };
            @include screen500 {
              margin-right     : calc(#{$lesson-group-triangle-margin} + 2%);
            };
            @include screen500below {
              margin-right     : calc(#{$lesson-group-triangle-margin} + 2%);
            };
          }
        }
      }

      .toggle:checked + .ln-label::after {
        -webkit-transform-style    : preserve-3d;
            -ms-transform-style    : preserve-3d;
                transform-style    : preserve-3d;
        -webkit-transform          : rotate(90deg);
            -ms-transform          : rotate(90deg);
                transform          : rotate(90deg);
      }

      ol {
        // Because "display:none" messes up the lesson counter
        font-size: 0;
        visibility: hidden;

        li {
          margin-left       : $lesson-name-li-margin-left;
          @include screen1200 {
            margin-left     : calc(#{$lesson-name-li-margin-left} - 8px);
          };

          ::before {
            counter-increment: li;
            content         : counter(li);
            color           : $lesson-link-number-color;
            display         : inline-block;
            width           : $lesson-link-number-width;
            margin-left     : $lesson-link-number-margin-left;
            margin-right    : $lesson-link-number-margin-right;
            text-align      : $lesson-link-number-text-align;
            direction       : $lesson-link-number-text-direction;
            @include screen1200 {
              margin-right  : calc(#{$lesson-link-number-margin-right} - 1px);
            };
            @include screen1000 {
              margin-right  : calc(#{$lesson-link-number-margin-right} - 1px);
            };
          }

          &.active {
            &:before {
              display       : inline-block;
              content       : $lesson-link-active-marker;
              font-size     : $lesson-link-active-marker-size;
              color         : $lesson-link-number-color;
              width         : $lesson-link-active-width;
              margin-left   : $lesson-link-active-margin-left;
            }
          }
        }
      }

      .toggle:checked + * + ol {
        font-size           : $lesson-name-font-size;
        line-height         : $main-line-height;
        visibility          : visible;
        @include screen1200 {
          font-size         : calc(#{$lesson-name-font-size} -   5%);
          line-height       : calc(#{$main-line-height}       - 15%);
        };
        @include screen1000 {
          font-size         : calc(#{$lesson-name-font-size} -  10%);
          line-height       : calc(#{$main-line-height}       - 15%);
        };
        @include screen900 {
          font-size         : calc(#{$lesson-name-font-size} -  10%);
          line-height       : calc(#{$main-line-height}       - 10%);
        };
        @include screen900below {
          font-size         : calc(#{$lesson-name-font-size} -  10%);
          line-height       : calc(#{$main-line-height}       - 10%);
        };
      }
    }
  }
}
