// !compileOnSave
// compileOnSave                   : false
// main                            : ../style.scss

// =================== COLORS ==================
$black                               : #262B2F;
$white                               : #FFFFFF;
$green                               : #60C48E;
$cream                               : #DEFEB3;
$red                                 : #A12839;
$teal                                : #307379;

// ================ PAGE STYLES ================
$wrapper-width-1400                  : 1400px;
$wrapper-width-1200                  : 1200px;
$wrapper-width-1000                  : 1000px;
$wrapper-width-900                   : 900px;
$wrapper-width-800                   : 800px;
$wrapper-width-700                   : 700px;
$wrapper-width-600                   : 600px;
$wrapper-width-500                   : 500px;
$wrapper-width-400                   : 400px;
$wrapper-width-350                   : 350px;
$wrapper-width-300                   : 300px;
$wrapper-width                       : 100%;
$wrapper-left                        : 50%;
$wrapper-transform-translateX        :-50%;
$main-text-font                      : "Open Sans", sans-serif;
$main-text-size                      : 90%;
$main-line-height                    : 135%;
$text-color                          : $black;
$page-bg-color                       : $green;
$text-link-color                     : $cream;
$page-title-font                     : "M PLUS Rounded 1c", sans-serif;
$page-title-size                     : 300%;
$page-title-line-height              : 140%;
$a-text-decoration                   : none;
$a-hover-text-decoration             : underline;
$a-hover-outline                     : thin dotted;
$titling-color                       : $black;
$page-title-wrap-width               : 100%;
$page-title-width                    : 68%;
$page-title-margin-right             : 12px;
$page-title-margin-top               : 1.8%;
$content-wrap-width                  : 100%;
$vertical-margin-spacing             : 50px;
$button-transition                   : all .3s linear;
$button-glow-area                    : 1px 0px 10px;
$button-glow-color                   : $white;
$button-glow                         : $button-glow-area $button-glow-color;
$svg-secondary-color                 : "#{$black}";
$svg-border-color                    : "#{$cream}";
$overlay-color                       : rgba(0, 0, 0, .975);
$overlay-text-color                  : $white;
$overlay-close-btn-font-size         : 200%;
$overlay-close-btn-top               : 35%;
$overlay-close-btn-right             : 25%;
$searchbox-background                : transparent;
$searchbox-border                    : solid $white;
$searchbox-border-width              : 0 0 1px 0;
$searchbox-flex                      : 1 0 auto;
$searchbox-text-size                 : 2rem;
$searchbox-height                    : 2rem;
$searchbox-max-width                 : 50%;
$searchbox-outline                   : 0;
$searchbox-padding                   : 2rem 1rem;
$base-animation-length               : .5s;
$base-animation-timing-function      : ease;
$responsive-menu-btn-font-size       : 200%;
$responsive-menu-btn-padding-top     : 0%;

// =============== HEADER STYLES ===============
$header-bg-color                     : $black;
$header-height                       : 60px;
$logo-width                          : 33%;
$logo-img-width                      : 73%;
$logo-padding-top                    : 2.2%;
$logo-margin-top                     : 0%;
$menu-text-transform                 : uppercase;
$menu-ul-width                       : 66%;
$menu-li-width                       : 12.5%;
$menu-li-a-padding                   : 20.7% 15%;
$menu-li-before-width                : 100%;
$menu-li-before-height               : 100%;
$menu-li-before-left                 : 0;
$menu-li-button-down-margin          : 0 1.7%;
$menu-li-button-up-height            : 75%;
$menu-li-button-down-div-line-height : 430%;
$menu-li-button-up-div-line-height   : 215%;
$menu-li-border                      : 1px solid #DEFEB3;
$menu-a-hover-font-style             : oblique;
$menu-a-hover-text-decoration        : none;
$menu-a-outline                      : none;
$menu-target-padding                 : 0%;
$submenu-margin-top                  : -60px;
$submenu-min-width                   : 100%;
$submenu-height                      : 100%;
$submenu-font-variant                : all-petite-caps;
$submenu-li-width                    : 100%;
$submenu-li-height                   : 66%;
$submenu-li-margin                   : 0;
$submenu-li-word-spacing             : 100px;
$submenu-li-button-down-width        : 150%;
$submenu-li-button-down-before-height      : 160%;
$submenu-li-button-down-before-margin-top  : -90%;
$submenu-li-button-down-margin-left  : -75%;
$submenu-li-button-down-padding-top  : 0%;
$submenu-li-button-down-div-width    : 0px;
$submenu-li-div-width                : 100px;
$submenu-li-div-margin-bottom        : -4%;
$submenu-li-div-line-height          : 120%;
$submenu-li-div-padding              : 10%;
$submenu-li-div-a-padding            : 0;
$submenu-li-subNavLeft-margin-left   : 93%;
$submenu-li-subNavRight-margin-left  : -200px;
$submenu-li-subNavRight-margin-top   : -75%;

// ============== CONTENT STYLES ===============
$col-main-width                      : 68%;
$col-gutter                          : 2%;
$video-bg-color                     : $black;
$video-svg-color                     : "#{$video-bg-color}";
$video-wrapper-width                 : 100%;
$video-wrapper-margin                : 0;
$video-wrapper-bg-height             : 100%;
$video-nav-svg-color                 : "#{$cream}";
$video-nav-width                     : 12.5%;
$video-nav-margin-top                : 30%;
$video-nav-padding                   : 5px;
$video-nav-transform-scalex          : .5;
$video-nav-text-size                 : 1160%;
$video-nav-previous-padding-left     : 3.15%;
$video-nav-next-right                : -7.2%;
$video-nav-next-margin-top           : 15%;
$video-player-width                  : 85.6%;
$video-player-padding-top            : 56.25%;
$video-player-margin-left            : -2.9%;
$video-player-translate-x            : 0%;
$video-player-translate-y            : -3.8%;
$video-width                         : 100%;
$video-height                        : 100%;
$video-caption-color                 : $white;
$video-caption-text-size             : 70%;
$video-caption-text-style            : italic;
$video-caption-margin-top            : -6%;
$video-caption-padding-bottom        : .4%;
$course-bg-color                    : $teal;
$course-svg-color                    : "#{$teal}";
$course-titling-color                : $white;
$course-titling-text-size            : 138%;
$course-titling-line-height          : 150%;
$course-titling-strong-spacing       : .1em;
$course-titling-strong               : 900;
$course-titling-wrapper-height       : 128px;
$course-titling-wrapper-width        : 100%;
$course-titling-wrapper-margin       : 0;
$course-title-wrap-margin-left       : 7.35%;
$course-title-wrap-padding-top       : 3.5%;
$video-count-margin-top              : 0%;
$video-count-margin-left             : 6%;
$video-numbering-text-align          : right;
$tabs-hover-color                    : $red;
$tabs-color-inactive                 : $teal;
$tabs-border-color                   : $black;
$tabs-label-font-weight              : 600;
$tabs-label-margin                   : 0 0 -1px;        // Hide bottom line
$tabs-label-padding-top-bottom       : 1.58%;
$tabs-label-padding-left-right       : 3%;
$tabs-margin-left                    : 7.5%;
$tabs-animation-length               : .5s;
$talk-print-bg-color                 : $white;
$talk-print-svg-color                : "#{$white}";
$talk-print-wrapper-width            : 100%;
$talk-print-wrapper-padding-top      : 2%;
$talk-print-wrapper-padding-right    : 8%;
$talk-print-wrapper-padding-bottom   : 5%;
$talk-print-wrapper-padding-left     : 8%;
$discussion-bg-color                 : $white;
$discussion-login-link-color         : $red;
$discussion-login-text-size          : 140%;
$discussion-login-font-weight        : 600;
$discussion-login-margin-bottom      : 2%;
$comments-text-color                 : $black;
$comments-li-h5-font-weight          : bold;
$comments-li-width                   : 75%;
$comments-li-padding                 : 2.5% 1%;
$teacher-comments-text-align         : right;
$teacher-comments-margin-left        : 25%;
$transcript-margin-left              : 10%;
$transcript-padding-left             : 0%;
$transcript-p-margin-bottom          : 2%;
$quote-svg-color                     : "#{$black}";
$quote-icon-width                    : 50px;
$quote-icon-height                   : 50px;
$quote-icon-margin-left              : -8%;

// ============== SIDEBAR STYLES ===============
$sidebar-svg-color                   : "#{$black}";
$col-aside-width                     : 30%;
$col-aside-padding-top               : 0.8%;
$col-aside-padding-left-right        : 4.8%;
$col-aside-padding-bottom            : 4%;
$lesson-group-triangle-margin        : -3%;
$lesson-name-font-size               : 100%;
$lesson-name-wrapper-bg-color        : $black;
$lesson-name-label-bg-color           : $teal;
$lesson-name-label-text-color         : $white;
$lesson-name-label-text-transform     : uppercase;
$lesson-name-label-padding-top-bottom : 10px;
$lesson-name-label-padding-left       : 10px;
$lesson-name-label-padding-right      : 20px;
$lesson-name-label-margin-top-bottom  : 5px;
$lesson-name-label-margin-left-right  : 0px;
$lesson-name-li-margin-left          : 40px;
$lesson-link-number-color            : $white;
$lesson-link-number-text-align       : right;
$lesson-link-number-text-direction   : rtl;
$lesson-link-number-width            : 14px;
$lesson-link-number-margin-left      : -21px;
$lesson-link-number-margin-right     : 7px;
$lesson-link-active-marker           : ">>";
$lesson-link-active-width            : 35px;
$lesson-link-active-marker-size      : 81%;
$lesson-link-active-margin-left      : -39px;
$lesson-link-active-margin-right     : 25px;

// ================ CTA STYLES =================
$cta-bg-color                        : $red;
$cta-svg-color                       : "#{$cta-bg-color}";
$main-cta-width                      : 31%;
$main-cta-height                     : 163px;
$fixed-line-height                   : 100%;
$cta-pitch-title-size                : 150%;
$cta-text-color                      : $white;
$cta-text-size                       : 140%;
$cta-pitch-title-text-transform      : uppercase;
$cta-pitch-title-padding-right       : 0%;
$cta-pitch-font-weight               : bold;
$cta-pitch-margin-left               : 5%;
$cta-pitch-margin-top                : -4.8%;
$big-cta-width                       : 100%;
$big-cta-height                      : 163px;
$big-cta-pitch-margin-left           : 35%;
$big-cta-pitch-margin-top            : 2%;
$entry-cta-wrap-width                : 100%;
$entry-cta-wrap-height               : 60px;
$entry-cta-height                    : 100%;
$entry-cta-width                     : 45%;
$entry-cta-p-text-align              : center;
$class-files-cta-margin-top          : 30px;
$class-files-cta-p-padding-top       : 18px;
$completed-files-cta-margin-left     : 10%;
$completed-files-cta-p-margin-top    : 22px;
$signup-button-height                : 98px;
$signup-button-a-padding             : 20px;
$signup-button-p-margin-top          : 33%;
$signup-button-left-margin-left      : 10%;
$signup-button-left-margin-top       : 7%;
$signup-button-right-margin-left     : 15%;
$signup-button-right-margin-top      : -2%;
$subscribe-svg-color                 : "#{$cta-bg-color}";
$subscribe-cta-wrapper-width         : 90%;
$subscribe-cta-wrapper-height        : 110px;
$subscribe-cta-pitch-text-size       : 115%;
$subscribe-cta-pitch-text-padding    : 20px;
$subscribe-cta-input-width           : 70%;
$subscribe-cta-input-padding         : 1.44% 2.88%;
$subscribe-button-right-margin-top   : -4%;
$subscribe-button-right-margin-left  : 2%;
$subscribe-button-right-margin-right : 0%;
$subscribe-button-right-float        : right;
$subscribe-button-width              : 100%;
$subscribe-button-height             : 70px;
$subscribe-button-padding            : 10px;
$affiliate-cta-wrapper-height        : 400px;
$affiliate-cta-wrapper-margin-top    : -5%;
$affiliate-cta-wrapper-margin-left   : 15%;
$affiliate-cta-wrapper-padding       : 0%;
$affiliate-cta-p-margins             : 185px -145px 0;
$affiliate-cta-p-margin              : 10px;
$affiliate-cta-a-margin              : 40px 80px;

// ============== FOOTER STYLES ================
$footer-bg-color                     : $black;
$footer-width                        : 100%;
$footer-height                       : 275px;
$footer-wrap-width                   : 100%;
$footer-column-width                 : 50%;
$social-menu-wrapper-width           : 90%;
$social-menu-button-height           : 50px;
$social-menu-button-width            : 14%;
$social-menu-icon-padding            : 10px 25%;
$social-menu-icon-size               : 210%;
$subscribe-cta-input-text-size       : 150%;
$footer-legal-color                  : $white;
$footer-legal-text-size              : 80%;
$footer-legal-text-style             : italic;
$copyright-notice-bottom             : 0%;
