// !compileOnSave
// compileOnSave: false
// main: style.scss


/* Main Content ------------------ */

.col-main {
  width:        $col-main-width;
  margin-right: $col-gutter;
}

.video-wrapper, .course-titling-wrapper {
  width:               $col-main-width;
  margin:              0;
  background-repeat:   no-repeat;
  background-position: center;
  background-size:     100% 100%;
}

.video-wrapper {
  background-image:    url("./images/video-wrapper-bg.svg");
  height:              $video-player-wrapper-height;
}

.course-titling-wrapper {
  background-image:    url("./images/course-titling-wrapper-bg.svg");
  height:              $course-titling-wrapper-height;
}

.video-player, .course-title-wrap {
  -webkit-transform: translate($polygon-inner-transform-translate);
      -ms-transform: translate($polygon-inner-transform-translate);
          transform: translate($polygon-inner-transform-translate);
}

.video-title {
  color:       $video-caption-color;
  font-style:  italic;
  font-size:   10px;
  text-align:  center;
  line-height: 4em;
}

.course-title-wrap {
  padding-top: 1em;
  width: 812px;
}

.course-titling {
  color:       $white;
  font-size:   20px;
  line-height: 1.5em;
}

.course-titling strong {
  font-weight: bold;
  letter-spacing: .1em;
}

.extra-info {
  display: inline-flex;
}

.course-title {
  width: 650px;
}

.video-count {
  width: 150px;
}

.video-numbering {
  text-align: right;
}

.talk-print-wrapper {
  width:               812px;
  padding:             20px 65px 10%;
  background-image:    url("./images/talk-print-bg.svg");
  background-repeat:   no-repeat;
  background-position: center;
  background-size:     100% 100%;
}

.discussion, .transcription {
  background-color: $transcription-bg-color;
}
