// !compileOnSave
// compileOnSave: false
// main: style.scss


/* Sidebar ----------------------- */

.col-aside-right {
  width:               $sidebar-width;
  padding:             $col-aside-right-padding;
  background-image:    url("./images/col-aside-right-bg.svg");
  background-repeat:   no-repeat;
  background-position: center;
  background-size:     100% 100%;
}

.lesson-name-wrapper {
  background-color: $lesson-name-wrapper-bg;
  width:            $lesson-name-wrapper-width;
}

.lesson-name-wrapper span {
  background-color: $lesson-name-wrapper-span;
  color:            $lesson-name-wrapper-color;
  width:            $lesson-name-wrapper-span-width;
  padding:          $lesson-name-wrapper-span-padding;
  display:          block;
  text-transform:   uppercase;
}

ol#lesson-links {
  list-style:    none;
  counter-reset: li;
}

ol#lesson-links li {
  margin-left:       40px;
  counter-increment: li;
}

ol#lesson-links li::before {
  content:      counter(li);
  color:        $lesson-link-number-color;
  display:      inline-block;
  width:        1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align:   right;
  direction:    rtl;
}
