/*
Project    : BYOL Redesign
Author     : Timothy Dungan
Author URI : https://www.timothydungan.com
*/

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("sass/plugins/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("sass/plugins/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@import "sass/plugins/font-awesome/css/all.css";
@import "sass/variables";
@import "sass/mixins";
@import "sass/global";
@import "sass/header";
@import "sass/page";
@import "sass/cta";
@import "sass/main-content";
@import "sass/sidebar";
@import "sass/footer";
