/*
Project                   : BYOL Redesign
Author                    : Timothy Dungan
Author URI                : https://www.timothydungan.com
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
/* Global ------------------------ */
*, * :before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, nav, section, div {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Page -------------------------- */
body {
  background-color: #60C48E;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  color: #DEFEB3;
  text-decoration: none;
}

a :focus, a:hover, a:active {
  outline: thin dotted;
  text-decoration: underline;
}

.top-wrap {
  background-color: #262B2F;
  height: 60px;
}

header ul, footer ul {
  list-style: none;
  display: inline-flex;
  text-align: center;
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  max-width: 100%;
  width: 1400px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main-header {
  display: inline-flex;
}

.logo {
  padding: 10px 0;
}

ul#menu {
  position: absolute;
  right: 0;
}

#menu li {
  cursor: pointer;
}

#menu li.button-down, #menu li.button-up {
  position: relative;
  transform: rotateX(180deg);
}

#menu li.button-down {
  height: 89px;
}

#menu li.button-up {
  height: 45px;
}

#menu li.button-down div, #menu li.button-up div {
  transform: rotateX(180deg);
  width: 100%;
  z-index: 1;
}

#menu li.button-down div {
  line-height: 120px;
}

#menu li.button-up div {
  line-height: 33px;
}

#menu li.button-down:before, #menu li.button-up:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center bottom;
  border: 2px solid #DEFEB3;
  left: 0;
}

#menu li.button-down:before {
  transform: rotateX(-90deg) perspective(180px) rotateX(90deg);
}

#menu li.button-up:before {
  transform: rotateX(90deg) perspective(180px) rotateX(-90deg);
}

#menu li div a {
  outline: 0;
  padding: 20px;
}

#menu li div a:hover {
  text-decoration: none;
}

#menu li.button-down:hover:before, #menu li.button-up:hover:before {
  box-shadow: inset 0 0 0 2px #DEFEB3;
}

.page-title {
  width: 948px;
}

.page-title h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 40px;
  width: 948px;
  color: #262B2F;
}

.page-wrap, .page-title-wrap, .footer-wrap, .entry-cta-wrap {
  display: inline-flex;
  width: 1400px;
  padding-top: 50px;
}

/* Main Content ------------------ */
.col-main {
  width: 948px;
  margin-right: 35px;
}

.video-wrapper, .course-titling-wrapper {
  width: 948px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.video-wrapper {
  background-image: url("./images/video-wrapper-bg.svg");
  height: 502px;
}

.course-titling-wrapper {
  background-image: url("./images/course-titling-wrapper-bg.svg");
  height: 128px;
}

.video-player, .course-title-wrap {
  -webkit-transform: translate(68px, 16px);
  -ms-transform: translate(68px, 16px);
  transform: translate(68px, 16px);
}

.video-title {
  color: #FFFFFF;
  font-style: italic;
  font-size: 10px;
  text-align: center;
  line-height: 4em;
}

.course-title-wrap {
  padding-top: 1em;
  width: 812px;
}

.course-titling {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5em;
}

.course-titling strong {
  font-weight: bold;
  letter-spacing: .1em;
}

.extra-info {
  display: inline-flex;
}

.course-title {
  width: 650px;
}

.video-count {
  width: 150px;
}

.video-numbering {
  text-align: right;
}

.talk-print-wrapper {
  width: 948px;
  padding: 20px 75px 10%;
  background-image: url("./images/talk-print-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.discussion, .transcription {
  background-color: #FFFFFF;
}

/* Sidebar ----------------------- */
.col-aside-right {
  width: 420px;
  padding: 20px 75px 4%;
  background-image: url("./images/col-aside-right-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.lesson-name-wrapper {
  background-color: #262B2F;
  width: 270px;
}

.lesson-name-wrapper span {
  background-color: #707070;
  color: #FFFFFF;
  width: 100%;
  padding: 10px;
  display: block;
  text-transform: uppercase;
}

ol#lesson-links {
  list-style: none;
  counter-reset: li;
}

ol#lesson-links li {
  margin-left: 40px;
  counter-increment: li;
}

ol#lesson-links li ::before {
  content: counter(li);
  color: #FFFFFF;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

/* Footer ------------------------ */
footer {
  height: 310px;
  background-color: #262B2F;
  margin-top: 50px;
}

.footer-left-col, .footer-right-col {
  width: 50%;
  text-align: center;
}

footer .fa {
  font-size: 30px;
  font-style: normal;
  padding: 10px;
}
