/*
Project    : BYOL Redesign
Author     : Timothy Dungan
Author URI : https://www.timothydungan.com
*/
@import url(sass/plugins/font-awesome/css/all.css);
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("sass/plugins/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("sass/plugins/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

/* Mixinss ----------------------- */
/* Global ------------------------ */
*, * :before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  text-rendering: geometricPrecision;
}

article, aside, details, figcaption, figure, footer, header, nav, section, div {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@supports (object-fit: cover) {
  img, video, iframe {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

/* Header ------------------------ */
header.top-wrap {
  position: relative;
  background-color: #262B2F;
  height: 60px;
  z-index: 9999;
}

header.top-wrap #responsive-menu-trigger, header.top-wrap #close-menu {
  display: none;
  float: right;
}

header.top-wrap .main-header {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

header.top-wrap .main-header .logo {
  padding: 0.7% 0;
  width: 33%;
}

header.top-wrap .main-header .logo img#byolLogo {
  width: 73%;
}

header.top-wrap .main-header ul#menu {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  text-transform: uppercase;
  width: 66%;
}

header.top-wrap .main-header ul#menu li {
  width: 12.5%;
}

header.top-wrap .main-header ul#menu li.button-down {
  margin: 0 1.7%;
  height: 60px;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

header.top-wrap .main-header ul#menu li.button-down:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-left: 1px solid #DEFEB3;
  -webkit-transform: rotateX(-90deg) perspective(180px) rotateX(90deg);
  -ms-transform: rotateX(-90deg) perspective(180px) rotateX(90deg);
  transform: rotateX(-90deg) perspective(180px) rotateX(90deg);
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

header.top-wrap .main-header ul#menu li.button-down div {
  line-height: 430%;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

header.top-wrap .main-header ul#menu li.button-down div a {
  outline: none;
  padding: 20.7% 15%;
}

header.top-wrap .main-header ul#menu li.button-down div a:hover, header.top-wrap .main-header ul#menu li.button-down div a:active, header.top-wrap .main-header ul#menu li.button-down div a:focus {
  text-shadow: 1px 0px 10px #FFFFFF;
  text-decoration: none;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

header.top-wrap .main-header ul#menu li.button-down div a:hover .fas, header.top-wrap .main-header ul#menu li.button-down div a:active .fas, header.top-wrap .main-header ul#menu li.button-down div a:focus .fas {
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

header.top-wrap .main-header ul#menu li.button-up {
  height: 75%;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

header.top-wrap .main-header ul#menu li.button-up:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-left: 1px solid #DEFEB3;
  -webkit-transform: rotateX(90deg) perspective(180px) rotateX(-90deg);
  -ms-transform: rotateX(90deg) perspective(180px) rotateX(-90deg);
  transform: rotateX(90deg) perspective(180px) rotateX(-90deg);
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

header.top-wrap .main-header ul#menu li.button-up div {
  line-height: 215%;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

header.top-wrap .main-header ul#menu li.button-up div a {
  outline: none;
}

header.top-wrap .main-header ul#menu li.button-up div a:hover, header.top-wrap .main-header ul#menu li.button-up div a:active, header.top-wrap .main-header ul#menu li.button-up div a:focus {
  text-shadow: 1px 0px 10px #FFFFFF;
  text-decoration: none;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

header.top-wrap .main-header ul#menu li.button-up div a:hover .fas, header.top-wrap .main-header ul#menu li.button-up div a:active .fas, header.top-wrap .main-header ul#menu li.button-up div a:focus .fas {
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

header.top-wrap .main-header ul#menu li.searchLi:before {
  border-right: 1px solid #DEFEB3;
}

header.top-wrap .main-header ul#menu li ul.submenu {
  display: none;
  position: absolute;
  min-width: 100%;
  height: 100%;
  list-style: none;
  margin-top: -60px;
  font-variant: all-petite-caps;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

header.top-wrap .main-header ul#menu li ul.submenu li {
  width: 100%;
  height: 66%;
  margin: 0;
  word-spacing: 100px;
}

header.top-wrap .main-header ul#menu li ul.submenu li.button-down {
  margin-top: 22px;
}

header.top-wrap .main-header ul#menu li ul.submenu li.button-down:before {
  background-color: #262B2F;
  border-right: 1px solid #DEFEB3;
}

header.top-wrap .main-header ul#menu li ul.submenu li.button-down div {
  line-height: 100%;
  padding-bottom: 15%;
}

header.top-wrap .main-header ul#menu li ul.submenu li.button-down div a {
  padding: 0;
}

header.top-wrap .main-header ul#menu li ul.submenu li.button-up:before {
  background-color: #262B2F;
  border-right: 1px solid #DEFEB3;
}

header.top-wrap .main-header ul#menu li ul.submenu li.button-up div {
  line-height: 100%;
}

header.top-wrap .main-header ul#menu li ul.submenu li.button-up div a {
  padding: 0;
}

header.top-wrap .main-header ul#menu li:hover > ul,
header.top-wrap .main-header ul#menu li:active > ul,
header.top-wrap .main-header ul#menu li:focus > ul,
header.top-wrap .main-header ul#menu li:focus-within > ul {
  display: block;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

header.top-wrap .main-header ul#menu li:hover > ul.rollDown,
header.top-wrap .main-header ul#menu li:active > ul.rollDown,
header.top-wrap .main-header ul#menu li:focus > ul.rollDown,
header.top-wrap .main-header ul#menu li:focus-within > ul.rollDown {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rollDown;
  -moz-backface-visibility: visible !important;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rollDown;
  -ms-backface-visibility: visible !important;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: rollDown;
  -o-backface-visibility: visible !important;
  -o-animation-duration: 0.5s;
  -o-animation-name: rollDown;
  backface-visibility: visible !important;
  animation-duration: 0.5s;
  animation-name: rollDown;
}

@keyframes rollDown {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0) rotateX(180deg);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1) rotateX(180deg);
  }
}

@-ms-keyframes rollDown {
  0% {
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-transform: scaleY(0) rotateX(180deg);
  }
  100% {
    visibility: visible;
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-transform: scaleY(1) rotateX(180deg);
  }
}

@-o-keyframes rollDown {
  0% {
    visibility: hidden;
    opacity: 0;
    -o-transform: scaleY(0) rotateX(180deg);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -o-transform: scaleY(1) rotateX(180deg);
  }
}

@-webkit-keyframes rollDown {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scaleY(0) rotateX(180deg);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1) rotateX(180deg);
  }
}

@-moz-keyframes rollDown {
  0% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: scaleY(0) rotateX(180deg);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: scaleY(1) rotateX(180deg);
  }
}

/* Page -------------------------- */
body {
  background-color: #60C48E;
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
}

a {
  color: #DEFEB3;
  text-decoration: none;
}

a:focus, a:hover, a:active {
  outline: thin dotted;
  text-decoration: underline;
}

#search {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.975);
  height: 0;
  width: 0;
  opacity: 0;
  z-index: -1;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  will-change: transform, opacity;
}

#search:target {
  height: 100vh !important;
  opacity: 1;
  width: 100vw !important;
  z-index: 2;
}

#search:target .close-btn {
  display: block;
  font-size: 200%;
  position: absolute;
  top: 35%;
  right: 25%;
}

#search #searchbox {
  background: transparent;
  border: solid #fff;
  border-width: 0 0 1px 0;
  color: #fff;
  flex: 1 0 auto;
  font-size: 2rem;
  height: 2rem;
  max-width: 50%;
  outline: 0;
  padding: 2rem 1rem;
}

.wrapper {
  position: relative;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (min-width: 300px) and (max-width: calc(300px + 49px)) {
  .wrapper {
    width: 300px;
  }
}

@media (min-width: 350px) and (max-width: calc(350px + 99px)) {
  .wrapper {
    width: 350px;
  }
}

@media (min-width: 400px) and (max-width: calc(400px + 99px)) {
  .wrapper {
    width: 400px;
  }
}

@media (min-width: 500px) and (max-width: calc(500px + 99px)) {
  .wrapper {
    width: 500px;
  }
}

@media (min-width: 600px) and (max-width: calc(600px + 99px)) {
  .wrapper {
    width: 600px;
  }
}

@media (min-width: 700px) and (max-width: calc(700px + 99px)) {
  .wrapper {
    width: 700px;
  }
}

@media (min-width: 800px) and (max-width: calc(800px + 99px)) {
  .wrapper {
    width: 800px;
  }
}

@media (min-width: 900px) and (max-width: calc(900px + 99px)) {
  .wrapper {
    width: 900px;
  }
}

@media (min-width: 1000px) and (max-width: calc(1000px + 199px)) {
  .wrapper {
    width: 1000px;
  }
}

@media (min-width: 1200px) and (max-width: calc(1200px + 199px)) {
  .wrapper {
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 1400px;
  }
}

.page {
  position: relative;
  z-index: 1;
}

.page .page-title-wrap {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}

.page .page-title-wrap .page-title {
  width: 68%;
  margin-right: 12px;
}

.page .page-title-wrap .page-title h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 300%;
  color: #262B2F;
  margin-top: 1.8%;
}

.content-wrap {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}

/* CTAs -------------------------- */
.main-cta {
  width: 31%;
  height: 163px;
  display: inline-flex;
  flex-direction: row;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 440 163.121' preserveAspectRatio='none'>\a       <path fill='%23A12839' d='M1228,100l-20,61.7,20,60.993,420,20.567L1628,222.7V100l20-19.858Z' transform='translate(-1208 -80.142)'/></svg>");
}

.big-cta {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 163px;
  padding-top: 50px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 440 163.121' preserveAspectRatio='none'>\a       <path fill='%23A12839' d='M1228,100l-20,61.7,20,60.993,420,20.567L1628,222.7V100l20-19.858Z' transform='translate(-1208 -80.142)'/></svg>");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.big-cta .cta-pitch {
  position: absolute;
  margin-top: 2%;
  margin-left: 35%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cta-pitch {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 140%;
  margin-left: 5%;
  margin-top: -4.8%;
  text-align: center;
}

.cta-pitch .cta-pitch-title {
  font-size: 150%;
  text-transform: uppercase;
}

.entry-cta-wrap {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  margin-top: 50px;
}

.entry-cta-wrap p {
  font-size: 140%;
  color: #FFFFFF;
  line-height: 100%;
}

.entry-cta-wrap .class-files-cta {
  height: 100%;
  width: 45%;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 420 60' preserveAspectRatio='none'>\a       <path fill='%23A12839' d='M1668,112l-20,30,20,30-420-5,20-25-20-25Z' transform='translate(-1248 -112)'/></svg>");
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.entry-cta-wrap .class-files-cta p {
  padding: 20px 0 0 55px;
}

.entry-cta-wrap .completed-files-cta {
  height: 100%;
  width: 45%;
  margin-left: 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 420 60' preserveAspectRatio='none'>\a       <path fill='%23A12839' d='M1668,112l-20,30,20,30-420-5,20-25-20-25Z' transform='translate(-1248 -112)'/></svg>");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.entry-cta-wrap .completed-files-cta p {
  margin-top: 20px;
  padding-left: 35px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.signup-button-left {
  height: 98px;
  margin-left: 10%;
  margin-top: 7%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23A12839'/>\a           <stop offset='1' stop-color='%23262B2F'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.signup-button-left p {
  font-size: 140%;
  font-weight: bold;
  margin-top: 33%;
  line-height: 100%;
}

.signup-button-left a {
  padding: 35px 20px;
}

.signup-button-left:focus, .signup-button-left:hover, .signup-button-left:active {
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23262B2F'/>\a           <stop offset='1' stop-color='%23A12839'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  text-shadow: 1px 0px 10px #FFFFFF;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.signup-button-left:focus a, .signup-button-left:hover a, .signup-button-left:active a {
  outline: none;
  text-decoration: none;
}

.signup-button-right {
  height: 98px;
  margin-left: 15%;
  margin-top: -2%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23A12839'/>\a           <stop offset='1' stop-color='%23262B2F'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
}

.signup-button-right p {
  font-size: 140%;
  font-weight: bold;
  margin-top: 33%;
  line-height: 100%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.signup-button-right a {
  padding: 35px 20px;
}

.signup-button-right:focus, .signup-button-right:hover, .signup-button-right:active {
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23262B2F'/>\a           <stop offset='1' stop-color='%23A12839'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  text-shadow: 1px 0px 10px #FFFFFF;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.signup-button-right:focus a, .signup-button-right:hover a, .signup-button-right:active a {
  outline: none;
  text-decoration: none;
}

.subscribe-cta-wrapper {
  width: 90%;
  height: 110px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 630 110' preserveAspectRatio='none'>\a       <path fill='%23A12839' d='M1208,69.993l20,20v70l-20,20h630l-13.291-20v-70l13.291-20Z' transform='translate(-1208 -69.993)'/></svg>");
}

.subscribe-cta-wrapper .cta-pitch {
  font-size: 115%;
  padding: 20px;
  text-align: left;
}

.subscribe-cta-wrapper input {
  font-size: 150%;
  padding: 1.44% 2.88%;
}

.subscribe-button-right {
  margin: -4% 2%;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23A12839'/>\a           <stop offset='1' stop-color='%23262B2F'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.subscribe-button-right div {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.subscribe-button-right button {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 140%;
  font-weight: bold;
  color: #DEFEB3;
  width: 100%;
  height: 70px;
  padding: 10px;
}

.subscribe-button-right button:focus, .subscribe-button-right button:hover, .subscribe-button-right button:active {
  cursor: pointer;
  text-shadow: 1px 0px 10px #FFFFFF;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.subscribe-button-right:focus, .subscribe-button-right:hover, .subscribe-button-right:active {
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23262B2F'/>\a           <stop offset='1' stop-color='%23A12839'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.affiliate-cta-wrapper {
  position: absolute;
  margin-top: -5%;
  margin-left: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23A12839'/>\a           <stop offset='1' stop-color='%23262B2F'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.affiliate-cta-wrapper p {
  font-size: 140%;
  font-weight: bold;
  margin: 185px -145px;
  line-height: 100%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.affiliate-cta-wrapper a {
  padding: 40px 80px;
}

.affiliate-cta-wrapper:focus, .affiliate-cta-wrapper:hover, .affiliate-cta-wrapper:active {
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23262B2F'/>\a           <stop offset='1' stop-color='%23A12839'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(0 16)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  text-shadow: 1px 0px 10px #FFFFFF;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.affiliate-cta-wrapper:focus a, .affiliate-cta-wrapper:hover a, .affiliate-cta-wrapper:active a {
  outline: none;
  text-decoration: none;
}

/* Main Content ------------------ */
.col-main {
  width: 68%;
  margin-right: 2%;
}

.col-main .video-wrapper {
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 948 502.096' preserveAspectRatio='none'>\a       <path fill='%23262B2F' d='M328,685h812l68-22.513-68-460.86L734,182.9,328,201.626l-68,460.86Z' transform='translate(-260 -182.904)'/></svg>");
}

.col-main .video-wrapper .video-controls {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-transform: translateX(-45px);
  -ms-transform: translateX(-45px);
  transform: translateX(-45px);
}

.col-main .video-wrapper .video-controls .next-lesson, .col-main .video-wrapper .video-controls .previous-lesson {
  font-size: 1160%;
  margin-top: 30%;
  padding: 5px;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.col-main .video-wrapper .video-controls .next-lesson a, .col-main .video-wrapper .video-controls .previous-lesson a {
  outline: none;
}

.col-main .video-wrapper .video-controls .next-lesson a:focus, .col-main .video-wrapper .video-controls .next-lesson a:hover, .col-main .video-wrapper .video-controls .next-lesson a:active, .col-main .video-wrapper .video-controls .previous-lesson a:focus, .col-main .video-wrapper .video-controls .previous-lesson a:hover, .col-main .video-wrapper .video-controls .previous-lesson a:active {
  cursor: pointer;
  text-shadow: 1px 0px 10px #FFFFFF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.col-main .video-wrapper .video-controls .next-lesson.current, .col-main .video-wrapper .video-controls .previous-lesson.current {
  visibility: hidden;
}

.col-main .video-wrapper .video-controls .previous-lesson {
  padding-left: 30px;
}

.col-main .video-wrapper .video-controls .next-lesson {
  right: -50px;
  position: absolute;
}

.col-main .video-wrapper .video-controls .video-player {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-left: -2.6%;
  width: 85.6%;
  -webkit-transform: translate(0, -3.8%);
  -ms-transform: translate(0, -3.8%);
  transform: translate(0, -3.8%);
}

.col-main .video-wrapper .video-controls .video-player .video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-main .video-wrapper .video-title {
  color: #FFFFFF;
  font-size: 70%;
  font-style: italic;
  margin-top: -6%;
  padding-bottom: 0.4%;
  text-align: center;
}

.col-main .course-titling-wrapper {
  height: 128px;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 948 128' preserveAspectRatio='none'>\a       <g fill='%23307379' transform='translate(-260 -1017.684)'>\a         <path stroke='none' d='M 732 1145.182983398438 L 326.2886657714844 1125.197143554688 L 261.1109008789063 1018.542663574219 L 325.8549499511719 1038.162109375 L 325.9258728027344 1038.18359375 L 326 1038.18359375 L 1138 1038.18359375 L 1138.069946289063 1038.18359375 L 1138.137451171875 1038.164306640625 L 1206.855102539063 1018.530639648438 L 1137.7197265625 1125.19677734375 L 732 1145.182983398438 Z'/>\a         <path stroke='none' fill='%23262B2F' d='M 1205.710205078125 1019.377807617188 L 1138.274658203125 1038.645141601563 L 1138.140014648438 1038.68359375 L 1138 1038.68359375 L 326 1038.68359375 L 325.851806640625 1038.68359375 L 325.7099609375 1038.640625 L 262.2220458984375 1019.40185546875 L 326.577392578125 1124.710815429688 L 732 1144.682373046875 L 1137.439331054688 1124.7099609375 L 1205.710205078125 1019.377807617188 M 260 1017.68359375 L 326 1037.68359375 L 1138 1037.68359375 L 1208 1017.68359375 L 1138 1125.68359375 L 732 1145.68359375 L 326 1125.68359375 L 260 1017.68359375 Z'/>\a       </g></svg>");
}

.col-main .course-titling-wrapper .course-title-wrap {
  margin-left: 7.35%;
  padding-top: 3.5%;
}

.col-main .course-titling-wrapper .course-titling {
  color: #FFFFFF;
  font-size: 138%;
  line-height: 150%;
}

.col-main .course-titling-wrapper .course-titling strong {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.col-main .course-titling-wrapper .extra-info {
  display: inline-flex;
  flex-direction: row;
}

.col-main .course-titling-wrapper .video-count {
  margin-left: 6%;
  position: absolute;
}

.col-main .course-titling-wrapper .video-numbering {
  text-align: right;
}

.col-main .main-content-tabs {
  margin-top: 50px;
}

.col-main .main-content-tabs section {
  display: none;
}

.col-main .main-content-tabs input {
  display: none;
}

.col-main .main-content-tabs label {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  color: #307379;
  margin: 0 0 -1px;
  padding: 1.58% 3%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 200 50' preserveAspectRatio='none'>\a       <g transform='translate(-880 -1016)'>\a         <g fill='%23FFFFFF' transform='translate(606.364 25.15)'>\a           <path stroke='none' d='M 473.0039367675781 1040.35009765625 L 274.3011779785156 1040.35009765625 L 288.4832763671875 991.3501586914063 L 461.4187622070313 991.3501586914063 L 473.0039367675781 1040.35009765625 Z'/>\a           <path stroke='none' fill='%23262B2F' d='M 472.3719482421875 1039.85009765625 L 461.0232238769531 991.8501586914063 L 288.8590698242188 991.8501586914063 L 274.9664001464844 1039.85009765625 L 472.3719482421875 1039.85009765625 M 473.6359252929688 1040.85009765625 L 273.6359252929688 1040.85009765625 L 288.1074523925781 990.8501586914063 L 461.8143615722656 990.8501586914063 L 473.6359252929688 1040.85009765625 Z'/>\a         </g>\a         <path fill='transparent' d='M273.636,994.275l.781-2.3H470.992l.644,2.3Z' transform='translate(607.364 71.725)'/>\a       </g></svg>");
}

.col-main .main-content-tabs label:hover {
  color: #A12839;
  cursor: pointer;
}

.col-main .main-content-tabs input:checked + label {
  color: #262B2F;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 200 50' preserveAspectRatio='none'>\a       <g transform='translate(-880 -1016)'>\a         <g fill='%23FFFFFF' transform='translate(606.364 25.15)'>\a           <path stroke='none' d='M 473.0039367675781 1040.35009765625 L 274.3011779785156 1040.35009765625 L 288.4832763671875 991.3501586914063 L 461.4187622070313 991.3501586914063 L 473.0039367675781 1040.35009765625 Z'/>\a           <path stroke='none' fill='%23262B2F' d='M 472.3719482421875 1039.85009765625 L 461.0232238769531 991.8501586914063 L 288.8590698242188 991.8501586914063 L 274.9664001464844 1039.85009765625 L 472.3719482421875 1039.85009765625 M 473.6359252929688 1040.85009765625 L 273.6359252929688 1040.85009765625 L 288.1074523925781 990.8501586914063 L 461.8143615722656 990.8501586914063 L 473.6359252929688 1040.85009765625 Z'/>\a         </g>\a         <path fill='%23FFFFFF' d='M273.636,994.275l.781-2.3H470.992l.644,2.3Z' transform='translate(607.364 71.725)'/>\a       </g></svg>");
}

.col-main .main-content-tabs input#qa-tab + label {
  margin-left: 7.5%;
}

.col-main .main-content-tabs #talk-print-wrapper {
  width: 100%;
  padding: 2% 8% 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 948 512' preserveAspectRatio='none'>\a       <g fill='%23FFFFFF' transform='translate(1208 1529.684) rotate(180)'>\a         <path stroke='none' d='M 1139.566772460938 1529.183837890625 L 328.4331665039063 1529.183837890625 L 260.5567016601563 1058.041015625 L 328.0837707519531 1038.180053710938 L 734 1018.184204101563 L 1139.916259765625 1038.180053710938 L 1207.443237304688 1058.041015625 L 1139.566772460938 1529.183837890625 Z'/>\a         <path stroke='none' fill='%23262B2F' d='M 734 1018.684814453125 L 328.16796875 1038.676513671875 L 261.11328125 1058.398559570313 L 328.8662109375 1528.683837890625 L 1139.1337890625 1528.683837890625 L 1206.88671875 1058.398559570313 L 1139.83203125 1038.676513671875 L 734 1018.684814453125 M 734 1017.68359375 L 1140 1037.68359375 L 1208 1057.68359375 L 1140 1529.683837890625 L 328 1529.683837890625 L 260 1057.68359375 L 328 1037.68359375 L 734 1017.68359375 Z'/>\a       </g></svg>");
}

.col-main .main-content-tabs #talk-print-wrapper .zoink {
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: zoink;
  -moz-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: zoink;
  -ms-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-name: zoink;
  -o-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-name: zoink;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-name: zoink;
}

.col-main .main-content-tabs #talk-print-wrapper h4 {
  color: #262B2F;
  font-size: 140%;
  font-weight: 600;
  margin-bottom: 2%;
}

.col-main .main-content-tabs #talk-print-wrapper h4 a {
  color: #A12839;
  text-decoration: underline;
}

.col-main .main-content-tabs #talk-print-wrapper #discuss ol#comments {
  color: #262B2F;
}

.col-main .main-content-tabs #talk-print-wrapper #discuss ol#comments li {
  list-style-type: none;
  width: 75%;
  padding: 2.5% 1%;
}

.col-main .main-content-tabs #talk-print-wrapper #discuss ol#comments li h5 strong {
  font-weight: bold;
}

.col-main .main-content-tabs #talk-print-wrapper #discuss ol#comments li.student-comments {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 600 168' preserveAspectRatio='none'>\a       <g fill='%23FFFFFF' transform='translate(-348 -1054.638)'>\a         <path stroke='none' d='M 348.5 1222.121337890625 L 348.5 1055.1552734375 L 947.4999389648438 1075.121948242188 L 947.4999389648438 1202.154663085938 L 348.5 1222.121337890625 Z'/>\a         <path stroke='none' fill='%23262B2F' d='M 349 1055.672241210938 L 349 1221.604370117188 L 946.9998779296875 1201.671020507813 L 946.9998779296875 1075.605590820313 L 349 1055.672241210938 M 348 1054.638305664063 L 947.9998779296875 1074.638305664063 L 947.9998779296875 1202.638305664063 L 348 1222.638305664063 L 348 1054.638305664063 Z'/>\a       </g></svg>");
}

.col-main .main-content-tabs #talk-print-wrapper #discuss ol#comments li.teacher-comments {
  margin-left: 25%;
  text-align: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 600 168' preserveAspectRatio='none'>\a       <g fill='%23FFFFFF' transform='translate(948 1222.638) rotate(180)'>\a         <path stroke='none' d='M 348.5 1222.121337890625 L 348.5 1055.1552734375 L 947.4999389648438 1075.121948242188 L 947.4999389648438 1202.154663085938 L 348.5 1222.121337890625 Z'/>\a         <path stroke='none' fill='%23262B2F' d='M 349 1055.672241210938 L 349 1221.604370117188 L 946.9998779296875 1201.671020507813 L 946.9998779296875 1075.605590820313 L 349 1055.672241210938 M 348 1054.638305664063 L 947.9998779296875 1074.638305664063 L 947.9998779296875 1202.638305664063 L 348 1222.638305664063 L 348 1054.638305664063 Z'/>\a       </g></svg>");
}

.col-main .main-content-tabs #talk-print-wrapper #transcript {
  margin-left: 10%;
}

.col-main .main-content-tabs #talk-print-wrapper #transcript:before {
  content: '';
  position: absolute;
  width: 6.26%;
  height: 11.2%;
  margin-left: -8%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 34.668 27.49' preserveAspectRatio='none'>\a       <path fill='%23262B2F' d='M2.466-41.895l-.977-1.611q8.3-4.395,8.3-8.3,0-1.66-3.125-3.271a11.562,11.562,0,0,1-3.882-2.93,6.183,6.183,0,0,1-1.1-3.809,7.289,7.289,0,0,1,2.222-5.347,7.233,7.233,0,0,1,5.3-2.222,6.691,6.691,0,0,1,5.542,2.734,11.292,11.292,0,0,1,2.124,7.129,16.48,16.48,0,0,1-5.469,12.4A21.675,21.675,0,0,1,7.764-44.36,41.865,41.865,0,0,1,2.466-41.895Zm-19.287,0-.977-1.611q8.3-4.443,8.3-8.3a2.285,2.285,0,0,0-.684-1.636,10.141,10.141,0,0,0-2.441-1.636,10.846,10.846,0,0,1-3.833-2.905A6.231,6.231,0,0,1-17.6-61.816a7.306,7.306,0,0,1,2.2-5.371,7.192,7.192,0,0,1,5.273-2.2A6.738,6.738,0,0,1-4.541-66.65a11.292,11.292,0,0,1,2.124,7.129,16.363,16.363,0,0,1-1.392,6.641,17.7,17.7,0,0,1-4.126,5.762A28.967,28.967,0,0,1-16.821-41.895Z' transform='translate(17.798 69.385)'/></svg>");
}

.col-main .main-content-tabs #talk-print-wrapper #transcript p:not(:last-child) {
  margin-bottom: 2%;
}

.col-main .main-content-tabs #qa-tab:checked ~ #talk-print-wrapper section#discussion,
.col-main .main-content-tabs #vt-tab:checked ~ #talk-print-wrapper section#transcription {
  display: block;
  background-color: #FFFFFF;
}

@keyframes zoink {
  0% {
    opacity: 0;
    filter: blur(2em);
    transform-origin: top;
    transform: perspective(800px) scale(0.1, 0.1) rotateX(-180deg);
  }
  40% {
    opacity: 0.1;
    filter: blur(1em);
    transform-origin: top;
    transform: perspective(800px) scale(0.4, 0.4) rotateX(-110deg);
  }
  100% {
    opacity: 1;
    filter: blur(0em);
    transform-origin: top;
    transform: perspective(800px) scale(1, 1) rotateX(0deg);
  }
}

@-ms-keyframes zoink {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    filter: blur(2em);
    -ms-transform-origin: top;
    -ms-transform: perspective(800px) scale(0.1, 0.1) rotateX(-180deg);
  }
  40% {
    opacity: 0.1;
    filter: alpha(opacity=0.1);
    filter: blur(1em);
    -ms-transform-origin: top;
    -ms-transform: perspective(800px) scale(0.4, 0.4) rotateX(-110deg);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    filter: blur(0em);
    -ms-transform-origin: top;
    -ms-transform: perspective(800px) scale(1, 1) rotateX(0deg);
  }
}

@-o-keyframes zoink {
  0% {
    opacity: 0;
    -webkit-filter: blur(2em);
    -o-transform-origin: top;
    -o-transform: perspective(800px) scale(0.1, 0.1) rotateX(-180deg);
  }
  40% {
    opacity: 0.1;
    -webkit-filter: blur(1em);
    -o-transform-origin: top;
    -o-transform: perspective(800px) scale(0.4, 0.4) rotateX(-110deg);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0em);
    -o-transform-origin: top;
    -o-transform: perspective(800px) scale(1, 1) rotateX(0deg);
  }
}

@-webkit-keyframes zoink {
  0% {
    opacity: 0;
    -webkit-filter: blur(2em);
    -webkit-transform-origin: top;
    -webkit-transform: perspective(800px) scale(0.1, 0.1) rotateX(-180deg);
  }
  40% {
    opacity: 0.1;
    -webkit-filter: blur(1em);
    -webkit-transform-origin: top;
    -webkit-transform: perspective(800px) scale(0.4, 0.4) rotateX(-110deg);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(1em);
    -webkit-transform-origin: top;
    -webkit-transform: perspective(800px) scale(1, 1) rotateX(0deg);
  }
}

@-moz-keyframes zoink {
  0% {
    opacity: 0;
    -moz-filter: blur(2em);
    -moz-transform-origin: top;
    -moz-transform: perspective(800px) scale(0.1, 0.1) rotateX(-180deg);
  }
  40% {
    opacity: 0.1;
    -moz-filter: blur(1em);
    -moz-transform-origin: top;
    -moz-transform: perspective(800px) scale(0.4, 0.4) rotateX(-110deg);
  }
  100% {
    opacity: 1;
    -moz-filter: blur(0em);
    -moz-transform-origin: top;
    -moz-transform: perspective(800px) scale(1, 1) rotateX(0deg);
  }
}

/* Sidebar ----------------------- */
.col-aside {
  width: 30%;
  padding: 20px 70px 4%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 420 2364.373' preserveAspectRatio='none'>\a       <path fill='%23262B2F' d='M1648,202l-68,2325.191L1438.344,2546.4,1296,2527.191,1228,202l68-19.974h284Z' transform='translate(-1228 -182.025)'/></svg>");
}

.col-aside .lesson-name-wrapper {
  background-color: #262B2F;
}

.col-aside ul {
  counter-reset: li;
}

.col-aside ul li {
  list-style: none;
}

.col-aside ul li input {
  display: none;
}

.col-aside ul li label {
  display: block;
  cursor: pointer;
  background-color: #307379;
  color: #FFFFFF;
  width: 100%;
  padding: 10px 20px 10px 10px;
  text-transform: uppercase;
  margin: 5px 0;
}

.col-aside ul li label.ln-label::after {
  content: " ";
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  transition: transform .2s ease-out;
  float: right;
  clear: both;
  margin-right: -10px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.col-aside ul li .toggle:checked + .ln-label::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.col-aside ul li ol {
  font-size: 0;
  visibility: hidden;
}

.col-aside ul li ol li {
  margin-left: 40px;
}

.col-aside ul li ol li ::before {
  counter-increment: li;
  content: counter(li);
  color: #FFFFFF;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

.col-aside ul li ol li.active:before {
  content: ">>";
  font-size: 81%;
  color: #FFFFFF;
  margin-left: -38px;
  margin-right: 25px;
}

.col-aside ul li .toggle:checked + * + ol {
  font-size: 100%;
  visibility: visible;
}

/* Footer ------------------------ */
footer {
  height: 310px;
  background-color: #262B2F;
  margin-top: 50px;
}

footer .footer-wrap {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

footer .footer-wrap .footer-left-col {
  width: 50%;
}

footer .footer-wrap .footer-right-col {
  width: 50%;
}

footer .footer-wrap .copyright-notice,
footer .footer-wrap .osi-notice {
  position: absolute;
  margin-top: 20%;
  color: #FFFFFF;
  font-style: italic;
  font-size: 80%;
}

footer .footer-wrap .copyright-notice {
  left: 0;
}

footer .footer-wrap .osi-notice {
  right: 0;
}

.social-menu-wrapper {
  width: 90%;
  margin-top: 50px;
}

.social-menu-wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-menu-wrapper ul li {
  height: 50px;
  width: 14%;
  cursor: pointer;
}

.social-menu-wrapper ul li.button-up {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23A12839'/>\a           <stop offset='1' stop-color='%23262B2F'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(84) rotate(90)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
}

.social-menu-wrapper ul li.button-up:focus, .social-menu-wrapper ul li.button-up:hover, .social-menu-wrapper ul li.button-up:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23262B2F'/>\a           <stop offset='1' stop-color='%23A12839'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(84) rotate(90)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a       </g></svg>");
  text-shadow: 1px 0px 10px #FFFFFF;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-menu-wrapper ul li.button-up:focus a, .social-menu-wrapper ul li.button-up:hover a, .social-menu-wrapper ul li.button-up:active a {
  outline: none;
  text-decoration: none;
}

.social-menu-wrapper ul li.button-down {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23A12839'/>\a           <stop offset='1' stop-color='%23262B2F'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(16 100) rotate(-90)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a         </g></svg>");
}

.social-menu-wrapper ul li.button-down:focus, .social-menu-wrapper ul li.button-down:hover, .social-menu-wrapper ul li.button-down:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='none'>\a       <defs>\a         <linearGradient id='linear-gradient' x1='-0.041' y1='0.5' x2='0.968' y2='0.5' gradientUnits='objectBoundingBox'>\a           <stop offset='0' stop-color='%23262B2F'/>\a           <stop offset='1' stop-color='%23A12839'/>\a         </linearGradient>\a       </defs>\a       <g fill='url(%23linear-gradient)' transform='translate(16 100) rotate(-90)'>\a         <path d='M 99.5 83.39009857177734 L 0.5 63.59009552001953 L 0.5 4.409904003143311 L 99.5 -15.39009571075439 L 99.5 83.39009857177734 Z'/>\a         <path fill='%23DEFEB3' d='M 99 -14.78018951416016 L 1 4.819808959960938 L 1 63.18019104003906 L 99 82.78018951416016 L 99 -14.78018951416016 M 100 -16 L 100 84 L 0 64 L 0 4 L 100 -16 Z'/>\a         </g></svg>");
  text-shadow: 1px 0px 10px #FFFFFF;
  font-style: oblique;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-menu-wrapper ul li.button-down:focus a, .social-menu-wrapper ul li.button-down:hover a, .social-menu-wrapper ul li.button-down:active a {
  outline: none;
  text-decoration: none;
}

.social-menu-wrapper ul .fab {
  font-size: 210%;
  padding: 10px 25%;
}

.social-menu-wrapper ul .fab:focus, .social-menu-wrapper ul .fab:hover, .social-menu-wrapper ul .fab:active {
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
